[2017-01-20 10:47] ransikafs opened #8 "AWS support"
This Epic will track the work for Steeltoe components built to simplify the development process on AWS.

[2017-03-07 09:21] aivans opened #9 "DNS configuration to get list of Eureka Servers"
Configuration of Eureka Servers through DNS is crucial for having a HA setup.
<https://github.com/Netflix/eureka/wiki/Deploying-Eureka-Servers-in-EC2> describes the use of TXT DNS records. The Client would retrieve the list of available Eureka Servers by doing a dns lookup and parsing the list of servers.
`eureka.shouldUseDns=true`

Do you plan to support this?
Otherwise the project is not really

[2017-07-10 18:57] tillig opened #26 "How do you add a custom ServiceInfoFactory?"
We are using the Vault service broker for PCF and I'm trying to follow the pattern in this repo for a nice, robust connection mechanism.

The roadblock I'm hitting is that most of these start with something like:

[code]

This invokes, a roundabout way, [the `CloudFoundryServiceInfoCreator.BuildServiceInfoFactories` method](https://github.com/SteeltoeOSS/Connectors/blob/master/src/Steeltoe.CloudFo

[2018-05-18 14:41] ManteshJ opened #10 "How to enable the SSL in the Eureka Client Side?"
Hi,

I have gone through the EurekaClientConfig.cs code, there is no specific properties to set the certificate details like key-store, key-store-password, etc.
[EurekaClientConfig.cs Class](https://github.com/SteeltoeOSS/Discovery/blob/dev/src/Steeltoe.Discovery.EurekaBase/EurekaClientConfig.cs)
I want to know whether Steeltoe Discovery is supporting with SSL or not.

[2018-06-20 07:14] yuezhongxin opened #20 "GetStringAsync in synchronization?"
@TimHess hi, when I use steeltoe in synchronization method, there is an error, sample code:

[code]

I read the code of [DiscoveryHttpClientHandlerBase.cs](https://github.com/SteeltoeOSS/Common/blob/dev/src/Steeltoe.Common.Http/Discovery/DiscoveryHttpClientHandlerBase.cs) and found this line:

[code]

I modified and it work(reference [HttpClient.cs](https://github.com/mono/mono/blob/master/mcs/cla

[2018-08-02 12:11] Isuama opened #11 "Register Docker Application in Eureka with "preferIpAddress": true"
When I register application in IIS and point it to Eureka as shown in this sample, it properly works with these parameters in appsetting.json.
 "eureka": {
    "client": {
      "serviceUrl": "http://172.15.100.155:8761/eureka/",
      "shouldFetchRegistry": false
    },
    "instance": {
      "port": 8091,
      "hostName": "fortune_service",
      "ipAddress": "http://172.15.100.11",

      "pr

[2018-08-24 19:23] jkonicki opened #23 "Async Health() method in IHealthContributor interface"
Note: Moved from Connectors repository

Origin: User feedback
Issue 1: Is there a reason Steeltoe doesn't have an async Health() method within this Steeltoe.Common.HealthChecks.IHealthContributor interface?

Issue 2: Any reason a noun like Health() was chosen as a method name vs. something like AssessHealth()? Could we look into changing this?

[2018-08-24 21:26] TimHess opened #3 "Failing Health checks may cause app to be restarted"
On some platforms (for example, PCF) when the health actuator is configured as the application's health check endpoint and a non-200 status code is returned on an HTTP health check, the application is restarted.

Steeltoe should provide an optional means of indicating that a dependency is down, without failing the entire healthcheck failing

[2018-09-11 18:00] TimHess opened #28 "Work with CredHub Service Broker"
As a Cloud Foundry user, I want to be able to use the CredHub Service Broker https://docs.pivotal.io/credhub-service-broker/index.html in .NET apps. How do I do that?

[2018-09-18 15:55] TimHess opened #7 "Framework for building Task-style applications with .NET Core"
Related to https://github.com/SteeltoeOSS/Connectors/issues/19 - there may be a need for a framework for building task-style applications with .NET that don't fit the mold provided by [GenericHost](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/host/generic-host?view=aspnetcore-2.1)

Investigate if a solution already exists, frame out requirements if one does not

[2018-10-05 23:54] Tandis5 opened #27 "Missing IntelliSense comments"
There is a lot of missing IntelliSense comments in the Connectors code, especially in the EFCore and ConnectorBase projects.

[2018-12-11 19:15] jkonicki opened #16 "Support for multiple configuration fragment loads for an application"
This request was taken from #29  by @ahusic-clgx

I would very much like a support for multiple configuration fragment loads for an application. What I was thinking about was extending "Pivotal.Extensions.Configuration.ConfigServer.ConfigServerClientSettings" with new property called "Fragments":

public class ConfigServerClientSettings
{
public Collection Fragments{ get; } = new Collection();
}

[2019-01-10 19:19] jkonicki opened #6 "Add code coverage checking to builds"
We need to add automatic code coverage capability to our builds.

[2019-01-10 19:21] jkonicki opened #5 "Move from AppVeyor to Azure Devops or similar build tool"
Our current build system on AppVeyor is limiting and it would be beneficial to move to Azure Devops or similar tool.

[2019-01-15 16:30] dtillman opened #17 "Flatten VCAP_SERVICES and add it to the Configuration like Spring Boot does today"

[2019-02-08 09:58] sankar1204 opened #18 "Steeltoe assemblies do not have strong name information"
When I use nuget package Steeltoe.Extensions.Configuration.CloudFoundry I am getting an error that assembly Steeltoe.Extensions.Configuration.CloudFoundry does not have strong name

`CSC : error CS8002: Referenced assembly 'Steeltoe.Extensions.Configuration.CloudFoundry, Version=1.1.1.0, Culture=neutral, PublicKeyToken=null' does not have a strong name.`
Yes its optional to sign the C# assemblies.

[2019-02-13 15:26] jclagache opened #22 "PropertyPlaceholderHelper does not resolve ${x.y} placeholders"
Related to #5

[This repository](https://github.com/jclagache/SteeltoeSamples) helps to reproduce :

- [spring-config-server-sample](https://github.com/jclagache/SteeltoeSamples/tree/master/Configuration/spring-config-server-sample)
is a spring boot config server with [native](https://cloud.spring.io/spring-cloud-config/multi/multi__spring_cloud_config_server.html#_file_system_backend) profile tha

[2019-03-09 05:19] liningit opened #21 "HttpClient Should static can't Creating a new HttpClient instance per request."
HttpClient Should static  can't Creating a new HttpClient instance per request.

see
https://docs.microsoft.com/en-us/aspnet/web-api/overview/advanced/calling-a-web-api-from-a-net-client

_Originally posted by @liningit in https://github.com/SteeltoeOSS/Common/issues/8#issuecomment-471146807_

[2019-03-21 04:30] thnk2wn opened #12 "Fetch registry Object reference not set EurekaPostConfigurer.UpdateWithDefaultsForRoute"
- Using Steeltoe.Discovery.ClientCore Version "2.2.0"
- Attempting to fetch registry from a .net core 2.2 console app linux x64 on stack cflinuxfs2

When I attempt to resolve `IDiscoveryClient` type I get the error `Object reference not set to an instance of an object.` error in `Steeltoe.Discovery.Eureka.EurekaPostConfigurer.UpdateWithDefaultsForRoute`. The full call stack follows.

<pre>
2019-03

[2019-03-26 03:21] VenkateshSrini opened #25 "Reuse polly"
Hi Team,
Is there a way where SteelToe can leverage the complete set of Polly capability. This library is far matured. What I would suggest is a capability to create a wrapper for this project which will allow it to work easily with CF. Polly is a very battle tested old library in .NET. During Lift and shift we see this library used extensively. So this will reduce the migration effort for us.

[2019-04-05 22:29] putridparrot opened #13 "EurekaBase potential for NullReferenceException when no instance id exists"
Whilst testing the Eureka Discovery client found that applications were not being returned. Investigation showed that the Eureka app data was missing an instance id for one of the application elements causing a NullReferenceException within Applications.cs, method AddInstanceToVip on the following line (currently line number 147)

instances[info.InstanceId] = info;

[2019-04-11 18:07] DOMZE opened #4 "Serilog Implementation - Hijack ILoggerFactory"
Hello,

I first off want to thank you guys for the great work of the steeltoe library for .NET, really is great.

I wanted to see with you guys if you were open to have a UseSerilogDynamicConsole implementation a bit like UseSerilog.

The problem I had is that I wanted to replace the whole console logger with the one provided by Serilog. I also wanted to control my loggerconfiguration through code

[2019-04-18 18:08] DOMZE opened #24 "Resilience4j support"
I've come accross Netflix Hystrix and Netflix has put it on maintenance mode.

Hystrix is known for its circuit breaking capabilities, but it doesn't stack well with other concerns such as
Rate limiting
Bulkheading
Automatic retrying (sync and async)
Response caching
Timeout handling

They point to Resilience4j which should be used for new project and which is better to play with (stack on) the co

[2019-04-26 19:09] sorvis opened #14 "Running with Consul Throws CheckID does not have associated TTL"
Hello,

I'm testing out discovery with Consul. I have setup my application like this:

Nuget:
[code]

Startup.cs
[code]

appsettings.json
[code]

Started docker instance of consul with:
[code]

Then when I start my application I get this error message:

Am I missing some configuration?

[2019-04-28 23:23] macsux opened #29 "Inconsistent accessor"
https://github.com/SteeltoeOSS/Connectors/blob/035cf250e8c2b22722142b8cf349e791f9bd952f/src/Steeltoe.CloudFoundry.ConnectorBase/DocumentDB/MongoDb/MongoDbConnectorOptions.cs#L45

The access modifier seems inconsistent, allowing values to be set ONLY through config but not through code. Why not allow the dictionary to just be deserialized as is?

[2019-05-10 16:16] alfusinigoj opened #2 "Unable to install/restore 'Steeltoe.Management.Endpoint....' 2.2.0 packages"
Throwing Exception, Unable to resolve dependency 'OpenCensus'. Source(s) used: 'nuget',  'Microsoft Visual Studio Offline Packages'.

[2019-05-13 11:37] windsOne opened #476 "Whether there is a way to implement distributed transactions is between Java services"
Whether there is a way to implement distributed transactions is between Java services。
How to implement distributed transactions when both Java services and. net core services are invoked

[2019-05-15 23:00] jpmorin opened #30 "PostgreSQL connector support for 'Search Path'"
PostgreSQL connector does not supports `Search Path` when the connectionString is built from a cloud foundry binding. Note that adding `Search Path=myschema;` dirrectly to the connectionString  when working locally works fine.

**This works fine locally, but is overridden when deploy in cloud foundry.**
[code]

**I would suggest adding support for `postgres:client:searchpath`.**
[code]

[2019-05-16 20:53] hananiel commented on #4
We need to pull this one in before closing ... https://github.com/SteeltoeOSS/Logging/pull/16

[2019-05-16 21:10] maxwell-ryan opened #15 "Refresh configuration without restart, but behind load balanced URL"
I am currently using Steeltoe in an environment which is behind a load balanced URL, and looking for a means to refresh the configuration without restarting. The load balancer directs traffic to several different Cloud Foundry environments, each of which could have 1 to many instances of the app running via autoscaler.

I've read through previously reported issues and noted [this issue](https://gi

[2019-05-16 21:14] jkonicki opened #19 "Specify InvariantCulture for ToString conversion when publishing ConfigServerClientSettings"
Created from PR: https://github.com/SteeltoeOSS/Configuration/pull/57

PR needs to be recreated against the new repository `steeltoe`.

-------

Missing InvariantCulture specification in ToString makes ConfigServerClientSettings properties unreadable in some cultures

[2019-05-16 21:19] TimHess commented on #5
Completed in #1

[2019-05-16 21:19] #5 closed

[2019-05-16 21:20] TimHess commented on #6
Completed in #1

[2019-05-16 21:20] #6 closed

[2019-05-17 21:36] TimHess commented on #27
@Tandis5, I know you started working on this item - were you able to make some progress?

[2019-05-17 21:43] TimHess commented on #29
So just make `Options` public? I don't remember why I did it this way, it may take some time to dig far enough in to find a reason... Are you directly interacting with the connector options classes?

[2019-05-17 21:46] TimHess commented on #24
We don't currently have plans for anything with regard to resilience4j, but have been kicking around the ida that we should see if there's a way to connect somehow with [Polly](https://github.com/App-vNext/Polly) even prior to #25

[2019-05-17 22:50] macsux commented on #29
Don't remember where I was doing it, I think some kind of manual bootstrap
test before I realized it was impossible without using config file

On Fri., May 17, 2019, 5:43 p.m. Tim Hess, <notifications@github.com> wrote:

[2019-05-20 12:31] HerrLiljegren opened #31 "When using basic authentication the username:password is logged in clear text."
If you configure Eureka to use basic authentication and then configure Steeltoe Discoveryclient to use the URL https://username:password@localhost/eureka/ then the credentials-part will be logged in clear text.

e.g
[EurekaHttpClient.cs#L226](https://github.com/SteeltoeOSS/steeltoe/blob/c623ad18ac23651ee6178fd3a2dc113af4bc0f9f/src/Discovery/src/EurekaBase/Transport/EurekaHttpClient.cs#L226)
[Eurek

[2019-05-21 11:55] TimHess commented on #31
Tiny oops, looks like we both forgot to include a [close keyword](https://help.github.com/en/articles/closing-issues-using-keywords) in the issue linking from the pr.

Thanks again for your contribution!

[2019-05-21 11:55] #31 closed

[2019-05-21 13:43] Byzas19 opened #33 "404 errors on requests to /vault/v1/auth/token/renew-self"
Greetings,

I have a .NET Core 2.2 application that is connected - using Steeltoe (release 2.2.0) - to a Spring Cloud Config Server (open source, release 2.1.0) using HashiCorp Vault 1.0.1 as the backend.  My app runs in Cloud Foundry.  In my app's configuration, I have uri, token, tokenTtl, and tokenRenewRate set.

The application keeps trying to renew the Vault token by posting to **/vault/v1/au

[2019-05-21 21:53] robblargent opened #34 "Application name in manifest.yml is overriding spring:application:name in appsettings.json"
To support Blue/Green deployments we apply a version number suffix on the application name in the `manifest.yml` when pushing to PCF:

[code]

We do not apply a version number suffix on the application name in `appsettings.json`:
[code]

We have a yml configuration file called `{application}-{environment}.yml` (e.g. `appname-sandbox.yml`).

The issue is that the name of the application in `manifes

[2019-05-21 22:02] stuwilliams-clgx commented on #34
This is a serious problem for real production scenarios.

[2019-05-21 22:26] hananiel commented on #33
Hey @Byzas19 -I'm looking at this. The first thing I tried is this sample locally : https://steeltoe.io/docs/steeltoe-configuration/#2-0-config-server-provider, running vault locally with configserver and setting the  uri, token, tokenTtl, and tokenRenewRate set. And everything seems to be working fine. Can you confirm that is the case for you? One thing to clarify - ivotal.Extensions.Configuratio

[2019-05-22 15:44] hananiel commented on #33
@Byzas19 I was incorrect about everything working fine- the renew request was failing. On further research it appears that although open source config server supports hashiCorp Vault, it doesn't not support the renewal as you mentioned. On Cloudfoundry when you install SCS Config server, it then supports it. It appears like you want to run open source config server on cloud foundry - is that corre

[2019-05-23 12:15] Byzas19 commented on #33
@hananiel  thanks so much for looking into this. I really appreciate it.

It would be nice to have an option to turn it off since it's a little strange to keep reaching out to a hard coded server path that may not exist.  But the ideal solution for me would be to get OSS changed to handle renewal requests.   Opening a request on their end is probably the path I'm going to take.

[2019-05-23 14:54] dtillman commented on #34
@robblargent :  Hey .. looking at this ... what version of Steeltoe CloudFoundry and ConfigServer are you seeing this with?
Dave

[2019-05-23 14:58] stuwilliams-clgx commented on #34
[cid:image001.jpg@01D5113D.58C265F0]

We’ll happily test any solutions.

From: Dave Tillman <notifications@github.com>
Sent: Thursday, May 23, 2019 7:54 AM
To: SteeltoeOSS/steeltoe <steeltoe@noreply.github.com>
Cc: williams, Stuart <stuwilliams@corelogic.com>; Comment <comment@noreply.github.com>
Subject: Re: [SteeltoeOSS/steeltoe] Application name in manifest.yml is overriding spring:application:

[2019-05-23 15:01] dtillman commented on #34
@stuwilliams-clgx @robblargent  : Trying to recreate this problem.. and I'm not seeing it right now with my test using 2.2 of Steeltoe... not saying it doesn't exist.. just trying recreate it so I can fix it.
Dave

[2019-05-23 15:03] stuwilliams-clgx commented on #34
We’ll make a repo and post it to public github and you can grab it and use it as a test.

-S

From: Dave Tillman <notifications@github.com>
Sent: Thursday, May 23, 2019 8:01 AM
To: SteeltoeOSS/steeltoe <steeltoe@noreply.github.com>
Cc: williams, Stuart <stuwilliams@corelogic.com>; Mention <mention@noreply.github.com>
Subject: Re: [SteeltoeOSS/steeltoe] Application name in manifest.yml is overridin

[2019-05-23 15:10] dtillman commented on #34
@stuwilliams-clgx : Thanks Stuart!

[2019-05-23 17:13] ajdepoti opened #38 "Error BC30560 'OpenIdConnectOptions' is ambiguous in the namespace 'Steeltoe.Security.Authentication.CloudFoundry.Owin'."
###Title
VB.NET compile error:  'OpenIdConnectOptions' is ambiguous in the namespace 'Steeltoe.Security.Authentication.CloudFoundry.Owin'.

### Issue
Error	BC30560	'OpenIdConnectOptions' is ambiguous in the namespace 'Steeltoe.Security.Authentication.CloudFoundry.Owin'.

### Expected Result
solution would compile successfully

### Actual Result
Build fails with the above error message

### Steps t

[2019-05-23 17:46] TimHess commented on #38
Can you use the newer `app.UseCloudFoundryOpenIdConnect(ApplicationConfig.Configuration)` as in this sample? https://github.com/SteeltoeOSS/Samples/blob/dev/Security/src/AspDotNet4/CloudFoundrySingleSignon-VB/App_Start/Security.vb

It should resolve your issue, prevent the need for directly retrieving the service info and it takes real request path into account at runtime instead of trying to hard

[2019-05-23 17:56] TimHess commented on #2
This appears to be a side affect of the OpenCensus package having pre-release status, where Steeltoe does not, but possibly only affecting the Visual Studio Package Manager.

A workaround (at least until OpenCensus ships a GA release) is to use the package manager console with the switch `-includePreRelease` instead of the GUI

[2019-05-26 20:05] diablo39 commented on #10
Hello,
I've contributed to Eureka client and extended functionality of library by adding interface IEurekaDiscoveryClientHandlerProvider: https://github.com/SteeltoeOSS/steeltoe/blob/master/src/Discovery/src/EurekaBase/IEurekaDiscoveryClientHandlerProvider.cs

If you implement this interface and register in IoC container you should be able to add client certificate

[2019-05-27 15:38] kishoreallwynraj opened #39 "NullReference exception while running Management endpoints sample"
Hi,

I ran the "CloudFoundryWeb" sample below
https://github.com/SteeltoeOSS/Samples/tree/dev/Management/src/AspDotNet4/CloudFoundryWeb

The sample run as it is in my laptop. But when i comment out below line in ManagementConfig.cs and enabled only the ActuatorConfigurator.UseHealthActuator i am getting NullReference exception while accessing the Health endpoint.

ActuatorConfigurator.UseCloudFoun

[2019-05-27 16:12] kishoreallwynraj commented on #39
Below the exception stacktrace

[NullReferenceException: Object reference not set to an instance of an object.]
   Steeltoe.Management.Endpoint.Handler.<IsAccessAllowed>d__5.MoveNext() +80
   System.Runtime.CompilerServices.TaskAwaiter.ThrowForNonSuccess(Task task) +99
   System.Runtime.CompilerServices.TaskAwaiter.HandleNonSuccessAndDebuggerNotification(Task task) +58
   Steeltoe.Management.Endpo

[2019-05-27 16:14] kishoreallwynraj commented on #39
After looking through the code in file, it looks like the ISecurityService is going as NULL and it is getting initialized in the samples code only if we also enable the "ActuatorConfigurator.UseCloudFoundrySecurity" line.

https://github.com/SteeltoeOSS/Management/blob/dev/src/Steeltoe.Management.EndpointWeb/Security/SecurityServiceExtension.cs

[2019-05-28 00:03] crudlyf opened #40 "Steeltoe.Security.DataProtection.RedisCore still depends on earlier StackExchange Redis library"
Hi,

I'm trying to upgrade the Redis client library in my projects to the latest version. I found that **Steeltoe.Security.DataProtection.RedisCore** still references `Microsoft.AspNetCore.DataProtection.Redis (>= 0.3.0)` instead of the new `Microsoft.AspNetCore.DataProtection.StackExchangeRedis` library.

Is this in the pipeline?

[2019-05-28 18:31] TimHess commented on #40
This was floating around in the back of my mind, but wasn't in the backlog until now. I see that `Microsoft.AspNetCore.DataProtection.Redis` has been unlisted from nuget.org, so that definitely raises the priority on making the change. I'll take a look

[2019-05-29 00:00] robblargent commented on #34
@dtillman : According to our foundation folks we are running the following:
PAS -> 2.3.9
PAS Windows -> 2.3.8
SCS -> 2.0.2

On that note, I have been able to reproduce this issue on whatever is currently running on Pivotal Web Services.

An example that reproduces the issue is located at https://github.com/robblargent/bg-config-server .  Please let me know if those instructions are clear and/or if

[2019-05-29 03:53] hananiel commented on #39
@kishoreallwynraj I tried to reproduce this issue but then noticed that the sample was not updated to 2.2. We made a lot of changes and bug fixes in that release , so can you checkout the latest version of the sample you refer to from master and confirm this is still an issue for you?

[2019-05-29 12:51] kishoreallwynraj commented on #39
@hananiel  I downloaded the samples from master branch and tried again. I did not get the NullReference exception. But instead getting only 404 error when i comment out "ActuatorConfigurator.UseCloudFoundryActuators" and enabled only "ActuatorConfigurator.UseHealthActuator" in the ManagementConfig.cs file.

In appsettings.json file i replaced the "management" section with below snippet. This setti

[2019-05-29 12:58] kishoreallwynraj commented on #39
I was getting below error as well when i ran the project.

**Could not find a part of the path 'D:\SteeltoeSamples-master\Management\src\AspDotNet4\CloudFoundryWeb\bin\roslyn\csc.exe'**

I had to add the below snippet in the "CloudFoundryWeb.csproj" file to resolve this.

`<Target Name="CopyRoslynFiles" AfterTargets="AfterBuild" Condition="!$(Disable_CopyWebApplication) And '$(OutDir)' != '$(Outpu

[2019-05-29 15:11] hananiel commented on #39
For your 404 issue, your path needs to be set - previously, if it is not set, it would respond at /health, now it defaults **`/actuator/health`**. For your configuration, by default `health.showdetails` is set to  `always`. When it is always the`claim type` and `value` will not be checked so it will not be verified. So as far as health, your settings can be empty. This is described in the docs her

[2019-05-29 16:42] TimHess opened #43 "Default RabbitMQ ConnectionFactory ServiceLifetime"
With Steeltoe ConnectorCore, RabbitMQ's ConnectionFactory is injected with `ServiceLifetime.Scoped` by default. When used in a web-based project, a new connection may be opened on every web request.

The default setting should probably be changed to Singleton

[2019-05-29 17:00] kishoreallwynraj commented on #39
@hananiel i am able to hit the health endpoint now. Since our service will be hosted onprem and this /health endpoint will be mainly used by our load balancer to check on application health, i am checking if there is a simple way to enforce authentication by using basic auth credentials. The documentation for "whenauthorized" shows only a claim. I assume it is for a CF setup. Is there an option to

[2019-05-29 17:07] #43 closed

[2019-05-29 17:28] hananiel commented on #39
@kishoreallwynraj we originally had plans to support this but followed he spring boot actuators direction with removing security concerns from actuators code. The when authorized is not for a CF setup. It is for any mechanism that can provide a claim in the security context. So in other words, if your application already provides some security middleware, just enter the claims it would have into t

[2019-05-29 19:41] hananiel commented on #4
@DOMZE Sorry this took me so long to get to. I am trying to pull your changes in but have a few questions. Can you give the example of how you are using it  - an example of invoking UseSerilogDynamicConsole((builderContext, loggerConfiguration=>{ ...what are you doing here?... }). I am wondering if I can reduce this to one more flexible extension vs having two ways one more flexible than other.

[2019-05-30 06:56] cshung opened #44 "Consider making the heap dump collection logic work on Linux for .NET Core 3"
In .NET Core 3, it is possible to collect a heap dump of a process running on Linux using [`Microsoft.Diagnostics.Tools.RuntimeClient.GenerateCoreDump`](https://github.com/dotnet/diagnostics/blob/03c882f585f599df1a419f00ad3bdfc29e87a116/src/Microsoft.Diagnostics.Tools.RuntimeClient/DiagnosticHelpers.cs#L34).

[2019-05-30 12:35] clklachu opened #45 "Oracle DB Connector Support"
Is there a support for the health check of the Oracle DB? I see there are some implementation for OracleServiceInfo but there are no OracleProviderConnectorFactory and OracleProviderConfigurer implementations. Any specific reason for it? If not, can we go ahead and contribute on it?

[2019-05-30 19:14] TimHess commented on #45
We currently have nothing beyond the Service Info for Oracle DB, largely because we haven't seen much demand for it. If you'd like to add support, we'd love to see it contributed!

[2019-05-31 17:40] TimHess commented on #43
The ServiceLifetime setting for the ConnectionFactory was not the cause of the problem that spawned this issue... RabbitMQ's ConnectionFactory needs to be programmed to open and close connections as needed for a given application. The lifecycle of the factory cannot be relied upon for closing connections.

tldr; Don't forget to close your RMQ connections when you're done with them!

[2019-05-31 18:04] urvin08 commented on #34
I am also able to reproduce this issue when I am consuming Steeltoe.Extensions.Configuration.ConfigServerCore v2.2.0. With this version, while deploying to PCF it is using the PCF app name in "spring.application.name".

Downgrading the version to Steeltoe.Extensions.Configuration.ConfigServerCore to v2.1.1 resolved the issue for me.

[2019-05-31 21:28] DOMZE commented on #4
Hi @hananiel

Yes, the idea is that I have a Http sink that I want to configure the endpoints and api keys for instance (through a custom http client) and the configuration comes from the IConfiguration (hostingContext.Configuration)

An example can be
`var httpLoggingClient = new HttpLoggingClient(hostingContext.Configuration["ApiKey"], hostingContext.Configuration["ClientId"]);
loggerConfigurati

[2019-06-03 13:31] dtillman commented on #34
@stuwilliams-clgx @robblargent @urvin08 :  Thanks ... looking this... we'll get a fix out as soon as we can.
Dave

[2019-06-03 15:00] hananiel opened #47 "AutoDetect if Steeltoe config client is talking to SCS or OSS config server"
Better resolution for #33

[2019-06-03 15:01] hananiel commented on #33
For now I added a setting that allows one to turn this off. Looking at options to automatically infer what is on the server side of config client.

[2019-06-03 15:01] #33 closed

[2019-06-03 15:04] hananiel commented on #39
@kishoreallwynraj it sounds like you have a resolution. Feel free to open if you have any more questions.

[2019-06-03 15:04] #39 closed

[2019-06-03 15:19] hananiel commented on #4
@DOMZE thats great. Thank you for the sample

[2019-06-03 17:54] dtillman commented on #10
Thanks @diablo39 for that contribution.
We are also looking to add other ways to make this even easier in the future.
Dave

[2019-06-04 18:38] #40 closed

[2019-06-04 20:54] jkonicki commented on #30
Work was done during the repo restructure:  https://github.com/SteeltoeOSS/Connectors/pull/53

[2019-06-05 15:57] kishoreallwynraj commented on #45
@TimHess you can assign this issue to my name. @clklachu is a colleague of mine. I will discuss with him and we will contribute the Oracle connector support.

[2019-06-06 19:09] TimHess commented on #45
Github won't let me directly assign the issue to you, but let's all consider that to be the arrangement

[2019-06-06 21:00] #4 closed

[2019-06-10 15:48] hananiel opened #56 "Serilog .NET Framework Support"
Currently Dynamic Logger support with Serilog is limited to Core. We are looking to see how much interest there is in supporting framework support.

[2019-06-12 20:14] fernandobperezm opened #59 "`IConfigurationBuilder` object not getting `Label` property from `ConfigServerClientSettings`"
I'm using Steeltoe for config server reading and discovery. I'm adding the config server info through the `ConfigServerClientSettings` class and the `AddConfigServer()` extension method for the `Microsoft.Extensions.Configuration.ConfigurationBuilder()` class.

Previously I used an `appsettings.json` file to load all the values required by Steeltoe to connect with the Spring Config Server. It work

[2019-06-13 13:27] dtillman commented on #34
With this change, spring:application:name will no longer be set/overriden by the Steeltoe libraries.
Config Server client will use the following name(s), in the following order, when retrieving configuration values from a server:
1. spring:cloud:config:name if found
2. spring:application:name if found
3. vcap:application:name if found (typically provided by Steeltoe CloudFoundry configuration prov

[2019-06-13 20:19] jkonicki commented on #30
@jpmorin Thanks again.  We ended up bringing in the code from your PR.  You should see it in our 2.3.0 release.

[2019-06-13 20:19] #30 closed

[2019-06-18 13:34] jkonicki opened #65 "Switch OpenCensus dependency to OpenTelemetry libs"
Now that OpenCensus has moved to OpenTelemetry.  Once it is released, we need to switch our dependency to OpenTelemetry libs.

[2019-06-18 19:26] SebHonorine opened #67 "ExporterCore zipkin issue no trace logged"
Hello there,

I m trying to add distributed tracing to some projects (to create some demo for other teams). So I added some steeltoe into the mix.

I followed some stuff already present online like :

https://steeltoe.io/docs/steeltoe-management/#2-3-exporting

http://www.hlike.cn/article.php?id=15296

https://zipkin.io/

startup.cs
[code]

my appSettings.json looks like

[code]
My program.cs
[cod

[2019-06-18 20:26] jkonicki commented on #67
Hi @SebHonorine,

This appears to be an issue with the Zipkin version.  Something broke somewhere between 2.5.0 and the latest 2.12. We are looking into the exact version, but haven't prioritized that yet.  We also opened a ticket with OpenCensus.  Once we investigate some more, we will let you know.  But for the time being 2.5.0 of Zipkin should work.  If you want to test out later version and id

[2019-06-18 20:28] hananiel commented on #67
Somewhere around version 2.12.2 of zipkin server,  there was a change. The open census team owns that part of the code and there is an issue that appears to have been resolved but not released: census-instrumentation/opencensus-csharp#136. One option is to run this version of zipkin server that works: `docker run -d -p 9411:9411 openzipkin/zipkin:2.12.2` or build open census-csharp from source or

[2019-06-18 20:36] #34 closed

[2019-06-19 01:45] SebHonorine commented on #67
i ll try this version of zipkin and keep you guys updated.

Thank you!

[2019-06-19 12:31] SebHonorine commented on #67
YES thank you !!! it was indeed an issue with 2.12.9 I just started some test with 2.12.2 and it works fine. . . a day lost. . . but thanks.

[2019-06-23 04:21] VenkateshSrini opened #69 "PCC connector for .NET core application via SteelToe"
Hi,
I recently saw an video where a .NET program was able to connect to PCC using Pivotal.GemFire library. Can you please let us if this connectivity will be available as part of SteelToe Connector .NET standard library next release. The problem is I do not see a Pivotal.GemFire .NET standard version.

[2019-06-26 11:31] pengweiqhca opened #70 "Missing `.ConfigureAwait(false)` in all await call"
Missing `.ConfigureAwait(false)` could be deadlocks  in asp.net when call async method in sync method.

https://blog.stephencleary.com/2012/07/dont-block-on-async-code.html
https://blogs.msdn.microsoft.com/alazarev/2017/05/20/fun-with-configureawait-and-deadlocks-in-asp-net/
https://medium.com/rubrikkgroup/understanding-async-avoiding-deadlocks-e41f8f2c6f5d
https://medium.com/bynder-tech/c-why-you

[2019-06-26 11:50] TimHess commented on #69
We have an initial implementation (see the `gemfire_connector` branch if you'd like), but until there's a NuGet distribution of the driver package (or a workaround for our CI), our unit tests won't compile or pass.

Samples for ASP.NET and ASP.NET Core are in the [gemfire branch of the samples repo](https://github.com/SteeltoeOSS/Samples/tree/gemfire)

[2019-06-27 02:19] VenkateshSrini commented on #69
Hey,
I see this lines
<PropertyGroup>

    <TargetFramework>net461</TargetFramework>

    <DebugType>full</DebugType>

    <Platforms>x64</Platforms>

  </PropertyGroup>

This means that even the asp.net core is also going to run only on the .NET framework? I would expect the TragetFramework to netcoreapp2.0 or 3.0 so that it is cross platform

[2019-06-27 11:48] TimHess commented on #69
Unfortunately the GemFire driver is currently built exclusively for 64 bit Windows. I actually did the work to support it in Steeltoe back in February (the dates in source history are just when I moved the code into the mono-repo), a few months before netcore 3.0 was announced.
We are likely to revisit the targeting of a few Steeltoe packages for our 3.0 release

[2019-06-28 13:00] TimHess commented on #70
I think we got all them all, thanks for your contribution!

[2019-06-28 13:00] #70 closed

[2019-07-01 07:59] yhjhoo opened #73 "How to use jwt authentication without username and password"
In the example of jwt authentication, it configures both client Id and client secret which I don't want.

Is there some similiar configuration like "security.oauth2.resource.jwt.key-uri" in spring-boot?

[2019-07-01 13:23] TimHess commented on #20
This should be addressed via #71

[2019-07-01 13:23] #20 closed

[2019-07-01 13:25] TimHess commented on #7
`Steeltoe.Management.TaskCore` shipped with 2.3.0-rc1

[2019-07-01 13:25] #7 closed

[2019-07-01 15:37] hananiel opened #74 "External facing actuators should not accept a setting of "/CloudFoundryApplication""
This is the typical default from previous examples and the one path that will not work. When running in cloudfoundry and endpoint:management:path is set to "/CloudfoundryApplication" should revert to /actuators and print a warning message that this has been changed.

[2019-07-12 13:04] hananiel opened #83 "Create a sample with secure endpoints"
We have decided to not include security out of the box for actuator following https://docs.spring.io/spring-boot/docs/current/reference/html/production-ready-endpoints.html#production-ready-endpoints-security but there are frequently questions about how to secure endpoints.

[2019-07-16 09:02] kishoreallwynraj commented on #45
@TimHess We have submited the PR to add Oracle connectors, health checks and associated test cases. Please review and let us know your feedback.
https://github.com/SteeltoeOSS/steeltoe/pull/84

[2019-07-16 18:47] TimHess opened #85 "Add Health Check for GemFire/PCC"
Add a health check mechanism for the GemFire Connector

See https://github.com/spring-projects/spring-boot-data-geode/blob/master/spring-geode-actuator/src/main/java/org/springframework/geode/boot/actuate/GeodePoolsHealthIndicator.java

[2019-07-18 14:00] TimHess commented on #45
Thanks for your contribution!

[2019-07-18 14:00] #45 closed

[2019-07-29 18:51] TimHess commented on #18
Possible tool to aid in this issue: https://github.com/dsplaisted/strongnamer

[2019-07-31 15:42] jkonicki commented on #67
Reopening since this needs to be fixed for the newer zipkin releases.

1) We need to wait for the fix in OpenTelemetry (formerly OpenCensus project).  Note: this fix is in, we are just waiting on a release from that project.
2) There are some other areas of the Steeltoe code that need to be investigated and addressed.

For now, use the noted version of zipkin 2.12.2.

[2019-08-02 20:34] TimHess commented on #69
This connector is now available in 2.3.0-rc2, please try it out!

Samples are [here ](https://github.com/SteeltoeOSS/Samples/tree/2.x/Connectors/src/AspDotNet4)and [here ](https://github.com/SteeltoeOSS/Samples/tree/2.x/Connectors/src/AspDotNetCore/GemFire)

[2019-08-02 20:34] #69 closed

[2019-08-03 02:19] VenkateshSrini commented on #69
Hi,
I see the below code
[code]

This means that it is added from local path. How would I get this Pivotal.GemFire.dll

[2019-08-05 11:41] TimHess commented on #69
Sorry, forgot to link to the [docs for the GemFire connector](https://steeltoe.io/docs/steeltoe-connectors/#8-1-usage).

The Pivotal GemFire client is distributed by Pivotal on https://network.pivotal.io/ and the latest version is [10.0.2](https://network.pivotal.io/products/pivotal-gemfire/#/releases/396680)

[2019-08-06 02:58] VenkateshSrini commented on #69
There is a warning that says GemFire client runs only Windows 64 bit. I'm asking for cross platform .NET core, will that be available as part of 2.3.0 GA

[2019-08-06 13:33] TimHess commented on #69
Sorry, that is a limitation of the underlying Geode/GemFire driver that has nothing to do with Steeltoe. The Steeltoe pieces of this puzzle are all cross platform already and would work today if the GemFire client supported it.

[2019-08-07 21:39] TimHess opened #90 "DynamicLogger does not work with Microsoft.Extensions.Logging 3.0 previews"
For version 3.0.0, Microsoft has marked `ConsoleLogger` and several related classes as `internal`, which breaks the current implementation of DynamicLogger.

[2019-08-07 21:41] TimHess opened #91 "Address Skipped Tests"
A few tests were disabled in #88 due to build failures on hosted agents, many likely due to resource starvation. Revisit the tests to get them running again.

[2019-08-08 21:16] jkonicki opened #92 "SCS 3.0 config server is not working with Steeltoe libs"
Error when binding app to SCS 3.x config server:
`2019-08-02T09:39:31.688-05:00` [CELL/0] [OUT] Starting health monitoring of container

2019-08-02T09:39:33.807-05:00 [APP/PROC/WEB/0] [OUT] info: Steeltoe.Extensions.Configuration.ConfigServer.ConfigServerConfigurationProvider[0]

2019-08-02T09:39:33.807-05:00 [APP/PROC/WEB/0] [OUT] Fetching config from server at: http://localhost:8888

2019-08-02T

[2019-08-08 21:19] jkonicki commented on #92
One issue:

This line https://github.com/SteeltoeOSS/steeltoe/blob/57d40928467a2b59b00104d207ed34373f764260/src/Configuration/src/ConfigServerBase/ConfigurationSettingsHelper.cs#L24 seems to expect that the config server will be in a section under VCAP_SERVICES called `p-config-server`

However, in v3, the config server is called `p.config-server`.

[2019-08-09 13:35] pnguyen535 commented on #38
Hi Tim,

I am using asp.net core, I ran into the issue with ClaimsTransformation as described in the link below. Is there a way to open up the OpenIdConnectOptions oidcOptions

Thank you

https://stackoverflow.com/questions/47929027/getting-access-token-within-claims-transformer-in-asp-net-core

[2019-08-09 14:55] TimHess commented on #38
Hi @pnguyen535,

This issue is specific to using a Steeltoe package that adds OWIN functionality to a VB app. This package should not be used in ASP.NET Core, and your issue should not be related this issue. Please open a separate issue for providing access to `CloudFoundryOpenIdConnectOptions`

[2019-08-09 18:10] mzakrzewski commented on #15
@jkonicki Would your messaging abstraction support the pub/sub capabilities within Redis? That's what we used to provide this functionality so it'd be great if we could just switch to a framework supported component.

[2019-08-09 19:10] jkonicki commented on #74
Fixed in #80

[2019-08-09 19:10] #74 closed

[2019-08-09 19:15] mzakrzewski commented on #2
Yeah, this one is frustrating. I don't agree with releasing a component (as released) with a dependency on a pre-released component. I get that you want to offer cool stuff and don't want to be tied to others' release schedules, but, for me, this "juice wasn't worth the squeeze" for getting this approved for our release. I get it though... rock, meet hard place.

[2019-08-09 19:18] pnguyen535 commented on #38
Ok, I will open a separate issue 
Thank you 

Sent from Yahoo Mail for iPhone

On Friday, August 9, 2019, 7:55 AM, Tim Hess <notifications@github.com> wrote:

Hi @pnguyen535,

This issue is specific to using a Steeltoe package that adds OWIN functionality to a VB app. This package should not be used in ASP.NET Core, and your issue should not be related this issue. Please open a separate issue for

[2019-08-09 19:45] jkonicki commented on #15
@mzakrzewski First step is us getting the Messaging abstraction framework in place.  This is no small task and is being worked on now for our 3.0 release.  At first we are going to be supporting RabbitMQ and Kafka.  We can discuss adding Redis as a third option.  Thanks for your request.

[2019-08-12 12:10] pnguyen535 opened #97 "Access to OpenIdConnectOptions"
Hi

I am using asp.net core, I ran into the issue with ClaimsTransformation as described in the link below. Is there a way to open up the OpenIdConnectOptions oidcOptions

Thank you

https://stackoverflow.com/questions/47929027/getting-access-token-within-claims-transformer-in-asp-net-core

[2019-08-12 16:07] #92 closed

[2019-08-12 18:50] TimHess commented on #97
@pnguyen535 does the commit listed above accomplish give you what you're looking for?

[2019-08-12 21:00] pnguyen535 commented on #97
hi @TimHess ,

I think I made a mistake on requested open up "CloudFoundryOpenIdConnectOptions". What I really want is to after to access OpenIdConnectOption to intercept/load additional claims after the TokenValidated.

Thanks

// the ClaimsIdentity is built off the id_token, but scopes are returned in the access_token. Copy them as claims
            oidcOptions.Events.OnTokenValidated = MapScop

[2019-08-13 19:55] jkonicki opened #99 "CosmosDB connector support"
We have had several requests for a CosmosDB connector.

[2019-08-13 20:38] TimHess commented on #38
Between the available workaround and the removal of the obsolete classes (will be in the next release of 2.3.0), I'm feeling like its appropriate to close this issue. Please re-open this issue if you need further assistance

[2019-08-13 20:38] #38 closed

[2019-08-15 13:42] jkonicki commented on #2
A little background on why we chose the Alpha release of OpenCensus.  Steeltoe wrote all that code, tested it, and verified it worked.  Then we donated it all to OpenCensus csharp project, which was released as the Alpha.  So we decided to use that library as we expected to see a GA in the near future.  We did not expect that OpenCensus would then become the OpenTelemetry project and we would stil

[2019-08-15 16:46] kimbell opened #102 "Discovery and IIS application pool recycle"
This is probably a bit on the side of the main functionality, but I'm interested in hearing if people have ideas or solutions to our problem.

For various reasons, we are hosting ASP.NET Core behind IIS. We are also using the Discovery client to register the service in Eureka for use by Zuul. By default, IIS will recycle the application pool at regular intervals. This causes the service to get unr

[2019-08-16 14:46] pnguyen535 commented on #97
hi @TimHess

I looked at the code, I think it should be done similar to  AddCloudFoundryJwtBearer Extension.

.AddCloudFoundryJwtBearer(this AuthenticationBuilder builder, string authenticationScheme, string displayName, IConfiguration config, Action<JwtBearerOptions, IConfiguration> configurer)

Thank you

[2019-08-16 15:56] TimHess commented on #97
Does this work for you? https://github.com/SteeltoeOSS/steeltoe/commit/7d7aab838b256a90b563ff5b527b74c9b4a0df44

[2019-08-19 20:14] TimHess commented on #97
Included in 2.3.0, which is preparing to ship right now

[2019-08-19 20:14] #97 closed

[2019-08-19 20:44] pnguyen535 commented on #97
wonderful. Thank you

[2019-08-21 18:03] TimHess opened #105 "Intermittent Test Failure on MacOS"
The test `Steeltoe.Management.Endpoint.Trace.Test.TraceDiagnosticObserverTest.Subscribe_Listener_StopActivity_AddsToQueue` fails something like 20% of the time, but only on MacOS in Azure DevOps. It is likely a consequence of limited resources, but should probably be addressed so that it can't fail builds for unrelated changes.

https://dev.azure.com/SteeltoeOSS/Steeltoe/_test/analytics?definition

[2019-08-21 18:05] TimHess commented on #91
Effectively resolved in #98

[2019-08-21 18:05] #91 closed

[2019-08-21 18:10] TimHess commented on #18
- HdrHistogram appears to be stable and/or not very actively developed anymore. We can likely publish a strongnamed variant of in its current state and take it as our dependency if we can work around the rest of the issues.
- Strongnamer does not work with assemblies built for `netstandard`. There is a [PR](https://github.com/dsplaisted/strongnamer/pull/31) that has been hanging for a while that i

[2019-08-22 16:16] pnguyen535 commented on #97
Hi @TimHess

I pulled the latest nuget package 2.3.0 but it doesn't seem to have this update included.

Thanks

[2019-08-22 16:39] TimHess commented on #97
What does your package reference look like?

[2019-08-24 16:10] pnguyen535 commented on #97
Never mind, I got it working 
Thank you 

Sent from Yahoo Mail for iPhone

On Thursday, August 22, 2019, 9:39 AM, Tim Hess <notifications@github.com> wrote:

What does your package reference look like?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the thread.

[2019-08-27 05:39] mohanr opened #107 "Native Kubernetes Service discovery"
## Is your feature request related to a problem? Please describe.
No

## Describe the solution you'd like
I see that the supported Service discovery mechanisms need either Eureka or Consul. But I am looking for discovery using Native Kubernetes API.

[2019-08-28 19:55] rabadiw opened #108 "For IIS deployment with VirutalPath the basePath is not set on redirect_uri"
## Describe the bug
An OIDC after successful auth redirects to root path instead of the virutal path (basePath).

## Steps to reproduce
Steps to reproduce the behavior:
1. Setup a project with SSO
2. Deploy to IIS using virutal Path
3. Sign in successfully
4. The redirect url is incorrect

## Expected behavior
A clear and concise description of what you expected to happen.

## Environment (please

[2019-08-29 14:49] #108 closed

[2019-09-01 02:04] anperim opened #112 "Config with Consul KV"
Please provide a Consul Config Provider. Suggested code:
https://github.com/wintoncode/Winton.Extensions.Configuration.Consul

[2019-09-02 11:59] sajanep opened #113 "Steeltoe.Extensions.Logging.SerilogDynamicLogger not working as expected"
## Describe the bug
I have a .net core 2.2 application which is deployed in PCF 2.4.12. Configured Serilog and enabled dynamic console to adjust the log levels without restarting the application. But unfortunately the number of loggers appearing PCF Apps Manager is just 1. Upon adjusting the levels, there is no effect.

## Steps to reproduce
Steps to reproduce the behavior:
1. Deploy  https://gith

[2019-09-09 14:44] stephaneplante opened #115 "RabbitMQ - Add support for TLS connections (amqp+ssl) in connection factory"
Under RabbitMQ Tile  1.15 and higher, it is possible to enable TLS by specifying the proper configuration `cf update-service my-instance -c '{"tls": ["hostname_or_ip"]}'`.  Once this is done the Steeltoe Connector for RabbitMQ is not able to establish communication with the service instance.

The connections informations for a service with TLS enabled is not in the protocols:amqp section, it is no

[2019-09-09 15:27] hananiel commented on #113
hey @sajanep I saw your response on SO. I will take a look. github.com/SteeltoeOSS/Samples/tree/master/Management/src/… with the changes mentioned in Program.cs above and put the Serilog configuration in appsettings.json like mentioned in my first post. Btw, is there any good example demonstrating the usage of steeltoe.io/docs/steeltoe-logging/#2-0-serilog-dynamic-logger.

[2019-09-10 18:53] TimHess opened #116 "Consider using IApiDescriptionGroupCollectionProvider for Mappings"
## Is your feature request related to a problem? Please describe.
`ApiDescriptionActionData` is not accessible in AspNetCore 3 as it has been marked `internal`. Additionally, our initial implementation _may_ be duplicating existing functionality in ApiExplorer.

## Describe the solution you'd like
Adjust src/Management/src/EndpointCore/Mappings/MappingsEndpointMiddleware.cs to work with `IApiDescr

[2019-09-11 19:23] jkonicki opened #117 "RFC: Steeltoe support of .NET Framework components"
## Summary
As you may have heard, Microsoft recently announced [.NET 5](https://devblogs.microsoft.com/dotnet/introducing-net-5). It is the next step in the .NET runtime's future. A significant feature of .NET 5 is creating a unified platform between .NET Framework and .NET Core. The Steeltoe community has shown, with its use of Steeltoe’s .NET Framework capabilities, that there is a need to unify

[2019-09-13 19:46] TimHess commented on #115
OK, I finally got ssl setup in my environment, and the Steeltoe sample worked fine there, so something else might be going on in the environment - Could you try deploying [this Steeltoe sample](https://github.com/SteeltoeOSS/Samples/tree/master/Connectors/src/AspDotNetCore/RabbitMQ) and RabbitMQ with ssl bindings to see if that works for you?

The platform has settings for this, if the sample does

[2019-09-16 16:21] hananiel opened #118 "Add automated tasks to check for explicit version numbers"
## Is your feature request related to a problem? Please describe.
Dependencies should be driven off of versions.props to get a handle on the dependency tree and to avoid breaking changes by pulling in incompatible versions.

## Describe the solution you'd like
Add an automated task to look for explicit dependencies such as . "2.2.0" instead of $someversion

[2019-09-17 11:13] Lonli-Lokli opened #119 "Endpoint Routing: EndpointMiddlewares should be visible in Swagger"
## Is your feature request related to a problem? Please describe.

Currently we have project with https://github.com/microsoft/aspnet-api-versioning project integrated, and endpoints (/info, /health, etc) are not visible in swagger

## Describe the solution you'd like
I'd like to see the way how can I add them to the swagger.

[2019-09-18 23:52] hananiel opened #120 "Handle Content Negotiation on endpoints correctly"
## Is your feature request related to a problem? Please describe.
The spring actuator endpoints response depends on the request headers passed in.For example:
`curl -v -H "`**Accept: application/vnd.spring-boot.actuator.v2+json, application/vnd.spring-boot.actuator.v1+json, application/json**`" http://localhost:8083/actuator`

Responds with:
`< HTTP/1.1 200 OK
< Content-Type: `**application/vnd.sp

[2019-09-24 12:29] dmarthaler opened #121 "Add eureka metadata dynamically"
Question:
How can I dynamically add metadata, so that the EurekaDiscoveryClient in my application will send it to Eureka?

I know that statically configuring it in appsettings.json does work, but I need to be able to add information in a dynamic way. I tried to use ApplicationInfoManager instance, but this instance does not appear to be initialised.

I found a similar question on spring-cloud Gith

[2019-09-24 19:15] stephaneplante commented on #115
Hi @TimHess,

Thank you very much for you help and time.  I had misread the code of the connector.  This request can be closed since the connectors already work perfectly well.

I finally found what the problem was.  In our infrastructure, there was a missing ASG regarding RabbitMQ.  The ports for TLS were closed so my app could not communicate with the service instance in TLS. As soon as the port

[2019-09-24 19:15] #115 closed

[2019-09-24 20:54] TimHess opened #122 "Introduce a nicer way of adding dynamic logging"
## Is your feature request related to a problem? Please describe.
Currently dynamic logging must be configured inside `.ConfigureLogging`, and if not done carefully may result in duplicate logs to the console

## Describe the solution you'd like
Add a new extension method for IWebHostBuilder/IHostBuilder that also removes any console logger before adding the dynamic console logger

## Additional c

[2019-09-25 19:04] macsux opened #123 "Connectors are configuration case sensitive"
## Describe the bug
When using CUPS binding, connectors require lowercase key definition to be properly parsed. Example:
[code]
if key for url is named "Url", connectors won't properly process the binding.

## Expected behavior
Configuration should be case insensitive.

[2019-09-30 15:22] dtillman opened #125 "DataProtection Redis only supports 2.2 of ASP.NET Core"
## Is your feature request related to a problem? Please describe.
DataProtection Redis only works with 2.2.

## Describe the solution you'd like
Make it work with 2.1 if possible

## Describe alternatives you've considered
None

## Additional context
None

[2019-10-02 19:33] jkonicki opened #127 "Add support for and test Steeltoe libs on .NET Core 3.0"

[2019-10-04 20:33] jkonicki commented on #44
Duplicate of #100

[2019-10-04 20:33] #44 closed

[2019-10-04 20:47] jkonicki commented on #19
We should pull in the code from the other PR and close this issue.

[2019-10-04 21:04] jkonicki opened #128 "Stream Support and Messaging Abstraction"
This is an Epic, that will track all the work being done for our Streams feature.

Steeltoe Streams will be similar to the functionality that Spring Streams brings.  Steeltoe Streams will be used for building highly scalable event-driven .NET microservices connected with shared messaging systems.

[2019-10-04 21:07] jkonicki opened #129 "Azure support"
This Epic will track the work for Steeltoe components built to simplify the development process on Azure.

[2019-10-04 21:08] jkonicki opened #130 "Kubernetes Support"
This Epic will track the work for Steeltoe components built to simplify the development process on Kubernetes.

[2019-10-07 14:50] jkonicki opened #131 "Eureka endpoint - online/offline service instances"
Provide Blue/Green deployments through endpoint. Use the endpoint to set registered instances to offline

[2019-10-07 14:53] jkonicki opened #132 "Add Kafka connector"
Add support for the Kafka connector

[2019-10-07 16:08] jkonicki opened #133 "Broadcasting of state changes across nodes (messaging bus)"
Provide the ability to communicate across linked nodes using a message broker (streams).
This will have functionality similar to what Spring Cloud Bus provides.

[2019-10-07 16:46] jkonicki opened #134 "Hystrix- Add support for exporting events and other metrics to other monitoring systems"
Hystrix dashboard is no longer being supported.  We need to provide the ability to export metrics to external monitoring systems.
Investigate using OpenTelemetry exporters for Hystrix events along with other metrics.

[2019-10-09 17:02] BrockPond opened #135 "Serilog DynamicConsole breaks after changing logging levels"
I have added SerilogDynamicConsole to the WebHostBuilder along with all the CloudFoundryActuators to the service and middleware levels. Whenever I try to change the logging levels within the UI, then close it and reopen it and try to change the levels again (sometimes I need to change it multiple times), I get this error in the logs in pcf:

2019-10-09T09:42:13.79-0600 [RTR/0] OUT
   2019-10-09T09

[2019-10-17 18:29] jkonicki opened #137 "Bring dependent HDRHistogram class into our Hystrix implementation"
Currently we grab the entire HDRHistogram library (this project no longer appears to be active) in order to use with our Hystrix implementation.

We should take a look at bring in only the class(es) we need.  This will also get us closer to signed assemblies.

[2019-10-23 21:44] tom-mckinney opened #139 "TypeLoadException thrown when using CloudFoundryOAuth"
## Describe the bug
Since upgrading my project to `2.3.0` I've encountered the following exception when using the `.AddCloudFoundryOAuth(IConfiguration configuration)` method:

## Steps to reproduce
Steps to reproduce the behavior:
1. Create a new .NET Core web application (`dotnet new webapp`)
2. Add the Steeltoe.Security.Authentication.CloudFoundryCore package (`dotnet add package Steeltoe.Secur

[2019-10-24 12:50] TimHess commented on #139
Probably not too much of a surprise, but ASP.NET Core 3.0 introduced a few breaking changes... This issue is a result of one, and along with a few other adjustments for breaking changes in ASP.NET Core 3.0, is resolved in #94. We should have a build in the dev feed today or tomorrow, expecting to ship to nuget.org within a week or two

[2019-10-24 13:08] TimHess opened #140 "Complete (testing) support for Entity Framework 6.3.0"
Entity Framework 6.3.0 works with .NET Core 3.0, and Steeltoe's Entity Framework Connectors appear to as well, however there is mixed support among the DB driver providers.

With #94 we add testing SQL Server, but we will need to come back to this once MySQL and Oracle drivers add support to confirm they also work in a .NET Core 3 world

[2019-10-24 14:26] dtillman opened #141 "Steeltoe Stream Binders"
Add Binders

[2019-10-24 14:38] #116 closed

[2019-10-24 15:27] TimHess commented on #117
Net461 features and testing have been dropped from `master` (3.x line) in #94 -- support remains in the `2.x` branch

[2019-10-24 15:27] #117 closed

[2019-10-24 20:19] TimHess commented on #59
Hi @fernandobperezm,
Sorry for the slow response - you're right, looks like there is a bug here! This property, along with a couple others was being ignored when it was provided this way. The fix should be in our next release, thanks!

[2019-10-24 21:07] TimHess commented on #13
@putridparrot Sorry it took so long to get around to looking at this... Do you have any idea what the circumstances were around the InstanceId being `null`?

[2019-10-24 21:19] TimHess commented on #12
Sorry about the delayed response, this one got lost under a stack of other issues for a while...
@thnk2wn and @dlane771 - Is there still an issue to be addressed here, or was the exception resolved with the PR?

[2019-10-25 00:20] thnk2wn commented on #12
@TimHess The PR fixed it for me. I was using my own copy of the assembly and never verified it got pulled into the official NuGet package and worked there but my local version worked in my PCF environment at the time. I'm no longer on the same project or with the same company so I have no way of verifying it anymore.

[2019-10-25 11:10] TimHess commented on #12
@thnk2wn thanks for the update ~ I'm going to close this issue for now, we can always re-open it if the issue resurfaces for anybody else :)

[2019-10-25 11:10] #12 closed

[2019-10-25 11:11] #19 closed

[2019-10-25 11:11] #59 closed

[2019-10-25 11:13] #120 closed

[2019-10-25 16:02] TimHess opened #145 "Reduce GemFire-related Dev Friction"
In order to compile the GemFire Connector tests, a developer needs to acquire `Pivotal.GemFire.dll`. A script is provided in the Connectors folder, but it isn't mentioned in the readme files and we don't describe where/how to get an API token.

Improve the script and/or relevant readme files so it's clearer what needs to happen for a successful build and explore making compilation of the GemFire t

[2019-10-25 16:47] TimHess commented on #13
After some investigation, as near as I can tell this issue should be prevented by https://github.com/SteeltoeOSS/Discovery/pull/54/files so I'm going to close this issue now. Please reopen if it persists

[2019-10-25 16:47] #13 closed

[2019-10-25 20:45] TimHess commented on #125
This problem _can_ happen during a nuget restore:
[code]

This combination results in the above failure:
[code]
This combination does not:
[code]

This issue is a direct result of changing the dependency in Steeltoe.Security.DataProtection.RedisCore from Microsoft.AspNetCore.DataProtection.Redis (v0.3) to Microsoft.AspNetCore.DataProtection.StackExchangeRedis (v2.2) -- this change was made as what

[2019-10-28 12:39] sajanep commented on #113
I am bit confused here. So are you saying the number of loggers under "Filter Loggers" is equal to the number of overrides. I tried this, but sill I am not getting anything other than "Default"(I typed in too with the namespace I entered under overrides). Not sure what is wrong with my setup. Also adjusting Default logger does not have any effect(it's not getting applied)

[2019-10-28 12:46] hananiel commented on #113
Have you removed the UseSerilog?  I would suggest getting the sample here, push to cloud foundry without any changes and see If it works: https://github.com/SteeltoeOSS/Samples/tree/2.x/Management/src/AspDotNetCore/CloudFoundry

[2019-10-28 12:55] sajanep commented on #113
Nope, I have still UseSerilog. Will it create any issue? My Program.cs is like below

[code]

[2019-10-28 13:05] hananiel commented on #113
I don’t think that will work.

[2019-10-28 21:10] hananiel commented on #135
resolved by #138

[2019-10-28 21:10] #135 closed

[2019-10-29 14:37] #90 closed

[2019-10-29 14:38] #139 closed

[2019-10-29 14:38] #123 closed

[2019-10-29 21:49] jkonicki opened #149 "Need test coverage for ConfigServerCore/ConfigServerHostBuilderExtensions.cs"
Add test for ConfigServerCore/ConfigServerHostBuilderExtensions.cs

[2019-10-30 01:47] macsux opened #150 "Placeholder provider flattens all configured property sources in /env actuator"
When placeholder provider is registered, the output of the /env actuator will show only values from this one provider, even though others are registered. This is due to placeholder provider acting as a wrapper for others, which creates this undesirable side effect.

Expected behavior: all registered configuration providers and their values show up at the /env endpoint including placeholder provide

[2019-10-31 08:12] sajanep commented on #113
Hello, I pulled down the mentioned sample and deployed to my PCF instance. I commented out few things like MySQLDbContext and tasks etc(Since I don't have any MySQL instance). After this I was able to see loggers in PCF Apps Manager. But please note that till this time, no integration with Serilog happended. So I pulled down below packages to integrate Serilog
[code]
So after this my Program.cs lo

[2019-10-31 17:37] TimHess opened #152 "CredHub Client not up to date with API"
Due to changes in the way the CredHub API operates (as of [2.0.0](https://github.com/pivotal-cf/credhub-release/releases/tag/2.0.0)), some functions of the Steeltoe CredHub client no longer work with current versions.

For example, this error is thrown when trying to write a password: `The request includes an unrecognized parameter 'mode'. Please update or remove this parameter and retry your requ

[2019-11-01 18:43] #149 closed

[2019-11-01 20:10] TimHess commented on #2
Steeltoe 2.4.0(-rc1) brings updates from OpenCensus back into Steeltoe and removes the dependency on pre-release packages. The errors should not happen from here forward

[2019-11-01 20:10] #2 closed

[2019-11-04 21:22] TimHess opened #153 "Lua Scripting Must be Enabled for Redis"
The default settings for the Redis tile on the Pivotal Platform have Lua scripting disabled. Settings or code within the Microsoft libraries and/or StackExchange.Redis use `EVAL` and/or `EVALSHA` functions, which depend on Lua scripting. In order to prevent confusion or unnecessary troubleshooting work, we should document upfront that this setting is not the default (and isn't likely to be changed

[2019-11-05 09:01] sajanep commented on #113
Hello,
Sorry I was not aware about this. I removed UseSerilog() and other Serilog dependencies. I am able to see loggers now. I do have a follow up question regarding below lines

[code]
Do we really need  loggingBuilder.AddConfiguration(builderContext.Configuration.GetSection("Logging")) and how about Logging section in appSettings.json, since Serilog already has this section

[2019-11-05 15:04] hananiel commented on #113
No we do not. I did not want to make two different samples since they are so similar - but yes that line can be commented out. You only need that for the "AddDynamicConsole"

[2019-11-05 19:32] jkonicki commented on #27
Hello @Tandis5,

Were you still planning on creating a PR for this work?  We would like to get this issue closed out and into our next release.

Thanks for looking into it.

[2019-11-06 04:51] hananiel commented on #113
@sajanep closing this issue for now. feel free to reopen. Also the 2.4.0-rc1 release has some enhancements and bug fixes - make sure you test with the updated nugets.

[2019-11-06 14:31] TimHess opened #155 "Mappings Actuator Should Return Razor Pages"
/mappings currently doesn't know about razor pages, but it would be nice if it did

[2019-11-06 15:42] jkonicki commented on #122
Samples will also need to be updated once this is complete

[2019-11-06 20:31] TimHess opened #156 "Add HostBuilder Extensions for Service Discovery"
Add HostBuilder extensions so that a developer can call `.AddServiceDiscovery()` in `program.cs` and not have to worry about multiple changes in `startup.cs` (or skip the startup class entirely)

[2019-11-06 20:32] TimHess opened #157 "Add HostBuilder Extensions for Management"
Add HostBuilder extensions so that a developer can call `.AddxxxActuator()` in `program.cs` and not have to worry about multiple changes in `startup.cs` (or skip the startup class entirely)

[2019-11-07 12:08] hananiel commented on #150
uh oh! didnt see this reassignment. Anyway I have a POC PR here : https://github.com/SteeltoeOSS/steeltoe/pull/160. What I am proposing is that since the placeholderConfig is not a proper source and more of a filter, we expose the underlying property sources and ignore the placeholder.

[2019-11-07 16:17] Tandis5 commented on #27
@jkonicki I’m sorry but I never really got any time to work on this.

[2019-11-07 17:44] alfusinigoj opened #161 "Unable to activate both CF Actuators and Endpoints together"
## Describe the bug

Package `steeltoe.management.endpointweb.2.4.0-rc1`

Trying to enable actuators for an ASP.NET full framework application using `ActuatorConfigurator` as below. The problem is that when I set the context to `ActuatorContext.Actuator` I am able to hit the endpoints, say `/actuator/health`, but since I need the Cf Actuators to be enabled for AppsMan, I set the context to `Actuat

[2019-11-07 19:53] jkonicki commented on #150
@hananiel Yes, I wasn't sure you would get a chance to look at it, so assigned it to Tim.

[2019-11-07 21:40] macsux commented on #150
I think it should still show up as last provider as it provides value
substitution that will ultimately be the values your app sees when it uses
iconfiguration

On Thu., Nov. 7, 2019, 8:08 a.m. Hananiel Sarella, <notifications@github.com>
wrote:

[2019-11-07 23:24] hananiel commented on #150
Ok makes sense. It will obviously duplicate the other non substituted values as I have no easy way to
separate the two.

[2019-11-08 20:22] TimHess commented on #119
Using EndpointRouting might solve this issue for Asp.NET Core 3+ https://asp.net-hacker.rocks/2019/04/10/routed-middlewares.html?1

[2019-11-08 21:19] DOMZE opened #164 "DynamicLogging in a distributed environment"
Hello,

Currently the Dynamic loggers have their log levels stored in memory in the application. If the application is load balanced, changing the log level through the management endpoint will change the log level on the instance that the load balancer sent the request to.

How would you guys deal with having multiple instances behind a load balancer?

Is it something you guys have a solution for

[2019-11-09 11:08] putridparrot commented on #13
Sorry for the delay in getting back to you. The issue was spotted on a client's machine, I will try to recreate when I get a chance and see if I can give you better info.

[2019-11-11 13:57] tutuio opened #166 "Unable to set a more strict CORS policy"
Issue on `Steeltoe.Management.CloudFoundry.CloudFoundryApplicationBuilderExtensions` for ASP NET Core 2.2

## Problem description
We need to set a more strict CORS policy and we checked that the method `AddCloudFoundryActuators()` automatically sets the policy to allow all origins. A lot of alternatives were tried, but it doesn't seem possible to overwrite it.

## Proposed solution
Add a configura

[2019-11-11 15:49] TimHess commented on #166
Hi @tutuio,

Thanks for filing an issue - you're right, we should provide better control over the CORS policy.  I just pushed a commit that could help, is something like that what you're looking for?

[2019-11-11 16:36] TimHess commented on #105
should be fixed as of #162

[2019-11-11 16:36] #105 closed

[2019-11-11 16:47] TimHess commented on #164
Hi @DOMZE,

That's a good question... As it stands today, we don't have an integrated solution for broadcasting log level changes across app instances. I would expect #15 to help here, but that will require a Spring Cloud Config Server. I think it would be fair for #133 to keep this use case in mind.

As far as solutions that exist outside of Steeltoe today, if you're running your apps on the Pivo

[2019-11-11 16:50] tutuio commented on #166
@TimHess

Yes, that's right. Thank you for the incredibly fast response!

[2019-11-11 18:59] tom-mckinney opened #167 "InvalidOperationException thrown when using LoggingActuators"
## Describe the bug
The following exception is being thrown while use actuators with Steeltoe v2.4.0-rc1:

## Steps to reproduce
Steps to reproduce the behavior:
1. Create a new .NET Core web application (dotnet new webapp)
2. Add the Steeltoe.Management.CloudFoundryCore package (dotnet add package Steeltoe.Management.CloudFoundryCore)
3. Add and use actuators with the AddCloudFoundryActuators() a

[2019-11-11 19:23] TimHess commented on #167
Hello @tom-mckinney,

Thanks for the bug report - this issue happens when [dynamic logging hasn't been configured](https://steeltoe.io/logging/docs) in program.cs.

I did some work last week to streamline this process a bit with new extensions on (Web)HostBuilder that will configured dynamic logging for you. Those extensions will be in the next release, or are available in the dev feed

[2019-11-11 19:40] tom-mckinney commented on #167
Hi @TimHess, thanks for the quick reply! In that case, does that make this a duplicate of #122? I'm happy to close this if so.

[2019-11-11 19:49] TimHess commented on #119
Also evaluate whether we can improve the CORS configuration/configuration to be more narrowly focused on Steeltoe endpoints and/or more easily configurable. It looks like there are some changes in ASP.NET Core 3

https://docs.microsoft.com/en-us/aspnet/core/security/cors?view=aspnetcore-3.0

[2019-11-11 19:55] #167 closed

[2019-11-12 15:32] TimHess opened #170 "Automatic HttpClient Registration"
Consider adding extensions to register named HttpClients for use with Discovery/Load Balancing

Ideas:
- HttpClient named Random could perform service discovery and randomly load balance
- HttpClient named RoundRobin could perform service discovery and round-robin load balance

[2019-11-13 07:38] hananiel commented on #150
resolved by #160

[2019-11-13 07:38] #150 closed

[2019-11-13 15:36] #145 closed

[2019-11-13 15:36] #152 closed

[2019-11-13 15:37] #166 closed

[2019-11-14 20:01] TimHess opened #173 "Load balancers can't get an instance of IServiceProvider"
## Describe the bug
Unhandled run-time exception `Unable to resolve service for type 'Steeltoe.Common.Discovery.IServiceInstanceProvider' while attempting to activate 'Steeltoe.Common.LoadBalancer.RandomLoadBalancer'`

## Steps to reproduce
Steps to reproduce the behavior:
1. `CreateDefaultBuilder().AddServiceDiscovery`
1. `services.AddHttpClient().AddRandomLoadBalancer()`
1. Start App

## Expecte

[2019-11-14 20:39] jkonicki opened #175 "Create a common method to set the PORT or SERVER_PORT when in a Cloud environment"
## Describe the solution you'd like
Create a common method like `UseCloudHosting` that scans the environment for `PORT` and `SERVER_PORT` variables.  Currently, `UseCloudFoundryHosting` only scans for `PORT` and the method name is specific to Cloud Foundry.

Recommendation:
1. Create the new method `UseCloudHosting` and deprecate the more specific `UseCloudFoundryHosting` for future releases.
2. W

[2019-11-16 12:12] putridparrot opened #176 "EurekaBase potential for NullReferenceException when no instance id exists"
If the applications XML contains an application without an instanceId element, Steeltoe correctly has an instanceId of null, however this causes a problem as the Applications.cs file (line 147)

instances[info.InstanceId] = info;

this code will attempt to add a key to the ConcurrenctDictionary (instances) which is null. This in turn causes an exception. The result being that this exception causes

[2019-11-16 12:16] putridparrot commented on #176
Raised PR, feel free to ignore/reject it's more to demonstrate the problem https://github.com/SteeltoeOSS/steeltoe/pull/177

[2019-11-21 20:48] dtillman commented on #141
Code converted over .. will start unit tests next

[2019-11-21 20:48] #141 closed

[2019-11-21 20:50] dtillman opened #179 "Review Heapdumps for 3.0 including PR 100"

[2019-11-21 20:53] #179 closed

[2019-11-25 15:56] TimHess opened #181 "Move Abstractions into separate packages"
Look into moving public abstractions into dedicated Abstractions projects/packages... If this move makes sense it is likely a good time to review namespaces (in general) and that we're following consistent patterns across Steeltoe

[2019-11-26 16:14] nelsontbrandon opened #182 "SerilogDynamicProvider.CreateLogger negates Serilog destructuring configurations"
## Describe the bug
When using the SerilogDynamicLogger serilog destructuring configurations are ignored.

## Steps to reproduce
Steps to reproduce the behavior:
1. Create a project using Steeltoe SerilogDynamicLogger and Destructurama.Attributed
2. Add the UseAttribute destructuring configuration
3. Add an object model containing a destructuring attribute to the log scope to be destructured
4. Wr

[2019-11-27 14:11] vivekkjain opened #183 "]"

[2019-11-27 14:13] #183 closed

[2019-11-27 14:34] vivekkjain opened #184 "Configprovider : configuration changes are not reflecting when we delete any setting/feature toggle"
When Steeltoe ConfigServer reads/Load config settings that get stored in the Dictionary of ConfigurationProvider Data (Base abstract class). Now if we change anything any config setting and trigger Reload/Load it will maintain the old data and only add/update the settings in the Dictionary.

## Step to Reproduce
1) Initial Configuration Value:  setting{ "1", "2","3"}
      Data Dictionary will hav

[2019-11-27 19:01] dtillman commented on #184
@vivekkjain : Do you have a sample app we can run to reproduce the problem?

[2019-11-27 19:59] vivekkjain commented on #184
@dtillman I don't have any sample application which I can share here.
Let me know if you have any sample which I can use and modify to replicate this issue.

[2019-11-29 03:55] vivekkjain commented on #184
@dtillman  Please find attached ConfigServerConfigurationProviderTest.zip with test project to reproduce this issue.

[ConfigServerConfigurationProviderTest.zip](https://github.com/SteeltoeOSS/steeltoe/files/3903684/ConfigServerConfigurationProviderTest.zip)

[2019-12-02 16:34] jkonicki commented on #21
We will look into this during the 3.x timeline

[2019-12-02 16:35] jkonicki commented on #26
Need to keep in mind during the 3.x refactoring.

[2019-12-02 16:37] jkonicki commented on #119
Need to register with routing so it will show up.

[2019-12-02 16:55] jkonicki commented on #73
No, we don't have that option available in Steeltoe.

[2019-12-02 16:59] jkonicki commented on #11
This is worth investigating further and trying to address in a later release.

[2019-12-02 17:32] dtillman commented on #184
Thanks for the sample test... I've pushed a fix .. and added your unit test .  Should see this appear in the next 2.x release.
Dave

[2019-12-02 17:52] vivekkjain commented on #184
@dtillman added review comment please address.

[2019-12-02 19:46] TimHess commented on #102
Hi @kimbell,

Are you still in need of a solution here? I just tried testing the out with the latest Steeltoe releases on local IIS and am not seeing this kind of failure -- the app appears appropriately to de-register and re-register during recycling

[2019-12-02 19:51] TimHess commented on #112
Hi @anperim,

Thanks for the suggestion - but given that you've pointed us towards a solution that appears to be actively maintained, it's not clear what more you'd like us to provide... Could you please be a little more specific about what you'd like to see us do that isn't being accomplished with the other project?

[2019-12-02 20:02] kimbell commented on #102
Hi @TimHess

I find it interesting that you don't see the same behavior with the latest release. I can't get my head around how that would actually works in IIS. Is there a delay after startup before register is sent, so that the terminating process is able to unregister first? Lucky in the sequence things happen? We use IHostedService infrastructure a lot, this may result in our services taking a

[2019-12-02 21:29] TimHess commented on #102
@kimbell,

I think I understand a little better now what you're seeing, and I think it's related to the way IIS starts apps, or rather doesn't start them until they receive traffic... Have you configured [Application Initialization](https://docs.microsoft.com/en-us/iis/get-started/whats-new-in-iis-8/iis-80-application-initialization)?

I've been testing with [this sample](https://github.com/Steelt

[2019-12-03 01:54] yhjhoo commented on #73
that's very bad news. Good to hear MS provide this thing. tks for the help

[2019-12-04 10:56] kimbell commented on #102
Hi,

We are running with the initialization module and 'always running' mode. Since we are running out-of-process, we have w3wp.exe and a separate executable running our code. We discovered that when there is no traffic, the external program gets terminated, but the w3wp is still running. We have added some self-ping code that should keep things alive all the time. If we moved over to in-process,

[2019-12-04 17:27] jkonicki commented on #73
Hi @yhjhoo,  It was not my original intention to close this ticket.  So, I am going to reopen this as hopefully you or someone in the community would like to contribute something that would satisfy this request.  This is currently not a team priority, but we are willing to assist in helping with a solution.

[2019-12-04 20:11] TimHess commented on #102
Is it feasible to disable Overlapped Recycling?

[2019-12-04 20:22] #157 closed

[2019-12-04 20:22] #122 closed

[2019-12-04 20:22] #156 closed

[2019-12-04 20:33] TimHess commented on #102
Assuming disabling overlapped recycling isn't viable, you could also try setting the instance id to include a random value... if you add the Placeholder and Random Value config providers, something like this should work as each process would have a different Id when registered with Eureka: `"instanceId": "${spring:application:name}-${random:int(1,5)}"`

[2019-12-04 20:51] kimbell commented on #102
If recycling is enabled, I think it will always be overlapped. For our services we have disabled recycling to avoid this problem.

The unique id sounds interesting. I'm working on a new service and will try it out on that.

[2019-12-04 20:54] TimHess commented on #102
I wouldn't attempt to state definitively that this setting always works, but it _should_ bypass this problem, though it would introduce the potential for downtime while the old process shuts down and new process warms up
![image](https://user-images.githubusercontent.com/3947063/70180451-0c9da500-16ae-11ea-834c-b30ac29d187b.png)

[2019-12-04 21:02] kimbell commented on #102
That also seems like an interesting option. We host our services on multiple servers, so we are able to handle some downtime.

I've been poking around IIS for several years, and never noticed that setting.

[2019-12-05 16:49] donssmith opened #187 "OracleServiceInfoFactory doesn't allow for non-URI ServiceInfo"
## Describe the bug
The OracleServiceInfoFactory constructor is passing in an empty Tags object, which causes a non-URI service info with a tag of "oracle" to not be discovered.  I tried submitting a pull request, but received a 403.

## Steps to reproduce
Steps to reproduce the behavior:
1. Add Assert.True(factory,Accept(s)) to test Create_CreatesValidServiceBinding_NoUri in OracleServiceInfoFact

[2019-12-05 16:52] donssmith commented on #187
Correction:  The test class is OracleServiceInfoFactoryTest.cs

[2019-12-10 02:14] vivekkjain commented on #184
@dtillman any update on PR. It’s not yet merged.

[2019-12-10 15:03] brian-bell opened #189 "After executing a HytrixCommand, the application will not shut down cleanly."
## Describe the bug
After executing a HytrixCommand, the application will not shut down cleanly.

## Steps to reproduce
Steps to reproduce the behavior:
1. Clone the sample app created by my colleague from here: https://github.com/alan-bentley-dsg/dotnet-hystrix-demo
2. Run the application via command line (dotnet run)
3. Make an API request (curl http://localhost:5000/api/v1/Values/test)
4. Attem

[2019-12-10 17:06] TimHess commented on #187
Hi @donssmith,

Thanks for the report! Looks like you're correct on the bug and fix for it - would you like to try again with the PR so you have official credit for it in source history? I think the issue you hit when trying to submit the PR should be resolved by following the [suggested contribution workflow](https://github.com/SteeltoeOSS/.github/blob/master/contributing-docs/contributing-workfl

[2019-12-11 02:55] Yuyg77 opened #190 "Steeltoe.Discovery.ClientCore .netcore 3.0 register error"
![微信截图_20191211104932](https://user-images.githubusercontent.com/26400716/70587389-c3e17100-1c04-11ea-8bc3-d1fe6fd9204e.png)
![微信截图_20191211105436](https://user-images.githubusercontent.com/26400716/70587390-c3e17100-1c04-11ea-962e-d08d816018a2.png)
![微信截图_20191211105458](https://user-images.githubusercontent.com/26400716/70587392-c47a0780-1c04-11ea-82a7-1ff179d87e6a.png)

[2019-12-11 05:54] #190 closed

[2019-12-12 15:33] donssmith commented on #187
Hi @TimHess,
Go ahead and make the changes.
Thanks,
Don

[2019-12-12 19:25] jkonicki opened #191 "Create a individual library for the generation of projects"
Move the project generation code into its own library (nuget) and likely its own repository.

Releasing this separately will allow others to use it and allow a clear way for upgrading to later versions in the future.

This library will be used as the basis for the Steeltoe Initializr project generator.

[2019-12-12 21:19] TimHess commented on #102
@kimbell is there anything else to do here, or are we fine to close this issue?

[2019-12-12 21:42] kimbell commented on #102
I haven't had time to test this yet since I've been busy getting things out the door before Christmas. I mentioned these approaches to another guy at work, and he disabled overlapping recycle on one server of a non-critical application. I haven't heard anything, so I'm hoping that is a good sign.

This can be closed for now. When I get around to look at this, I'll add a comment with the result.

[2019-12-12 21:42] #102 closed

[2019-12-18 18:25] TimHess opened #196 "Automatically disable color in console logging on PCF"
In Dynamic Console logging, `if (Platform.IsCloudFoundry)` then configure color to be disabled in the underlying console loggers so that Steeltoe users to not have to set `logging:console:disablecolors` to `true`

[2019-12-19 13:47] Burnaster opened #197 "Log on Error-Level in management endpoints"
## Describe the bug
Management endpoints log on error level about "setting contentType to application/json;charset=UTF-8"

## Steps to reproduce
Steps to reproduce the behavior:
1. In your Startup class add any management endpoint for example health or info

## Expected behavior
A clear and concise description of what you expected to happen.

## Environment (please complete the following informati

[2019-12-19 16:18] TimHess commented on #197
Hi @Burnaster,

Thanks for the report - I would tend to agree, that is definitely the wrong level for that message! If you'd like to submit a PR against the 2.x branch, we'd be glad to accept it, otherwise we'll get it changed some time before we ship the next release

[2019-12-20 10:27] Burnaster commented on #197
Thanks @TimHess
I created an PR #198

[2019-12-20 12:30] TimHess commented on #197
Thank you!

[2019-12-26 17:37] TimHess opened #199 "Add support for Postgres supplied via GCP service broker"
Postgres instances created by the GCP service broker require client certificate configuration and support for ssl-enabled connections. Steeltoe already provides support for passing in an action that can be used (in a very clunky way) to provide the certificate, but also needs to support setting `SslMode.Require` based on the service binding

[2019-12-27 14:57] dtillman commented on #189
Thanks for the report... We will be making a change to Hystrix in 2.5 to properly shutdown threads that are left running after CTRL-C .. As a work around you should be able to use the code below to shutdown the running threads.

Add something like the following to your startup.cs:

[code]

Let me know of this doesn't work for you ...
Dave

[2019-12-27 16:40] brian-bell commented on #189
@dtillman I verified the workaround solves it for me. Thank you!

[2020-01-03 06:51] dcdlove opened #201 "get-started/consul There is an error"
## Describe the bug
A clear and concise description of the bug.

## Steps to reproduce
Steps to reproduce the behavior:
1.Open page [https://steeltoe.io/service-discovery/get-started/consul](url)
2.  “Consul_Register_Example“ Should be replaced with “Consul-Register-Example ”
3. Because the service name obtained by the client(IDiscoveryClient ) is actually “Consul-Register-Example”

## Expected be

[2020-01-03 06:57] dcdlove commented on #201
![TIM截图20200103145422](https://user-images.githubusercontent.com/10043691/71710882-4c84b300-2e39-11ea-9bfb-3febafaba454.jpg)

[2020-01-04 04:04] VenkateshSrini commented on #130
Hi,
As a part of this Epic, I would like to see the following To start with
1) Similarly to AddCloudfoundry there should be a method to called AddKubernetes that will add all Kubernetes specific stuff from ConfigMap and Secrets. Alternatively you can separate it out as AddConfigMap and Add Secrets also
2) services.ClonfigureCloudfoundry should be able to load all the backing services from config m

[2020-01-08 15:26] #170 closed

[2020-01-08 15:26] #125 closed

[2020-01-08 15:27] #173 closed

[2020-01-08 15:29] #176 closed

[2020-01-08 15:29] #187 closed

[2020-01-08 15:29] #184 closed

[2020-01-08 15:29] #197 closed

[2020-01-08 15:29] #181 closed

[2020-01-08 16:03] TimHess commented on #131
This functionality is provided in Spring via the `service-registry` endpoint: https://github.com/spring-cloud/spring-cloud-commons/blob/master/spring-cloud-commons/src/main/java/org/springframework/cloud/client/serviceregistry/endpoint/ServiceRegistryEndpoint.java

[2020-01-08 22:52] pnguyen535 opened #202 "WindowsNetworkFileShare nuget version 2.4.0 throw Bad Name"
Hello,

for some reason, the code below work in version 2.2.0, but failed in 2.4.0

 using (WindowsNetworkFileShare networkPath = new WindowsNetworkFileShare(sharePath, ShareCredentials))
            {
                return new ActionResult<IEnumerable<string>>(new List<string>());
            }

Thank you

[2020-01-09 00:24] TimHess commented on #119
Ideally this will work with `dotnet new webapi` in aspnet 3.1, without mvc integration (only endpoint routing)

[2020-01-09 19:34] cesinhaugusto commented on #196
Would overriding the Configure method in ConsoleLoggerOptionsSetup (DynamicLoggingBuilder class) be a good approach to this?

Something like this:
[code]

[2020-01-09 20:39] TimHess commented on #202
Hello @pnguyen535,

Are you sure nothing else has changed for you? There were _very_ few changes to that code in that time. I believe the Bad Net Name message is coming from the operating system and is just relayed by Steeltoe. As I understand it, that message happens when you pass in a local path (eg: `z:/share/file.txt`) instead of a UNC path (eg: `//server/share/file.txt`)

[2020-01-09 20:46] TimHess commented on #202
https://github.com/SteeltoeOSS/Samples/issues/127

[2020-01-09 20:48] pnguyen535 commented on #202
Hi Tim,
I know the error message is from OS, but I could not get the code to run under 2.4.0 version. However, it works when I switched to 2.2.0. I tested multiple times.

Thanks

[2020-01-09 21:16] jkonicki opened #204 "Address mTLS support across Steeltoe core components"
This is an epic to follow the work involved in properly handling mTLS needs in our core components.

[2020-01-09 21:20] jkonicki opened #205 "Config Server mTLS support"

[2020-01-09 21:22] jkonicki opened #206 "mTLS - Retrieve certificate properties from VCAP"
Connectors need the ability to retrieve certificate properties from the VCAP env

[2020-01-09 21:24] jkonicki opened #207 "mTLS - Add ability to apply certificate from bindings to connections"
1) Must add the certs to the appropriate stores
2) Add functions to retrieve/validate the certificates.

[2020-01-09 21:28] jkonicki opened #208 "Provide service to service authentication using rotating certificates"
Use Case:  Provide a way to do service to service authentication utilizing the certificates that are automatically provided (and rotated) by PCF

[2020-01-09 21:29] #127 closed

[2020-01-09 21:38] jkonicki opened #209 "Retrieve all Kubernetes configuration data"
Use case:  Create a similar experience to `AddCloudFoundry` functionality, except `AddKubernetes` and the information from ConfigMap and Secrets is retrieved.

[2020-01-09 21:44] jkonicki opened #210 "Load services that are configured in Kubernetes"
Add the ability to load service bindings that are configured in Kubernetes environments with [Kubernetes Service Bindings](https://github.com/servicebinding/spec)

[2020-01-09 22:13] TimHess commented on #202
Sure enough, there's a definitely a bug here. I'll look at it first thing tomorrow

[2020-01-09 22:28] jkonicki opened #211 "Add Prometheus support to our OpenCensus implementation"
Use Case: Add support for prometheus endpoint to allow prometheus capable applications to pull data from it.

PCF Metrics Registrar will look for this endpoint and pull data into PCF Metrics. This should also support other Prometheus services.

[2020-01-09 22:33] jkonicki opened #212 "Add Prometheus support to OpenTelemetry"
Look at OpenTelemetry (formerly OpenCensus) and verify that it has Prometheus support.  If not, identify the problem areas and contribute fixes to the project if necessary.

We must support the prometheus endpoint functionality as noted in #211

[2020-01-10 15:08] diablo39 commented on #204
Hello,
mtls for discovery service was implemented in PR: https://github.com/SteeltoeOSS/Discovery/pull/43

[2020-01-10 16:47] TimHess commented on #196
Yeah @cesinhaugusto, I think that looks like a good place for it

[2020-01-10 18:08] cesinhaugusto commented on #196
Great, I'll prepare a pull request for that. I'm just having a little trouble creating a test to assert this.

[2020-01-14 14:46] dtillman commented on #9
In the 2.x release line we added the ability to configure multiple Eureka Server URLs ... see the [docs](https://steeltoe.io/docs/4-discovery/3-netflix-eureka#eureka-settings)..  The Eureka client will then try those URLs in a round robin fashion much like the Nefflix Java client does today.  This should give you some degree of HA with regard to service discovery.

Also, if you need to managed the

[2020-01-14 14:46] #9 closed

[2020-01-14 20:30] alfusinigoj commented on #161
@hananiel At this point, do we need to enable /info and /health endpoints explicitly via configuration or they exposed by default. Any samples are welcome. Thanks!

[2020-01-14 22:02] hananiel commented on #161
@alfusinigoj  health and info should be exposed by default. Here is a sample:  https://github.com/SteeltoeOSS/Samples/blob/master/Management/src/AspDotNetCore/CloudFoundry/Startup.cs

[2020-01-14 23:05] alfusinigoj commented on #161
@hananiel the sample still uses steeltoe 2.4.0-rc1 which has this issue, i will test and let you know. thanks!

[2020-01-15 17:17] alfusinigoj commented on #161
@hananiel I still think we will not be able to use cloudfoundry actuators and hypermedia actuators together. Is that true? Because it doesn't seem to work when i used ActuatorContext.ActuatorAndCloudFoundry

[2020-01-15 17:19] hananiel commented on #161
It was working before - let me take a look.

[2020-01-15 17:27] alfusinigoj commented on #161
ok thanks @hananiel . Here is my code (using in a .NET app.

[code]

[2020-01-16 02:16] VenkateshSrini commented on #130
Hi,
Where are we with respect to this enhancement ?

[2020-01-16 04:18] hananiel commented on #161
@alfusinigoj looking at the decompiled code now -- it does not match the latest version of 2.x. 2.4.0 is the latest stable and it was cut on Nov13th. For now myget is the latest version. I'll update the 4.x sample to reflect this once released - which should be soon.

[2020-01-16 15:22] TimHess commented on #131
Sounds good, have at it!

[2020-01-16 15:23] jkonicki commented on #161
This fix will be in 2.4.1 set to be released 1/17.

[2020-01-16 15:23] #161 closed

[2020-01-16 15:24] jkonicki commented on #182
This did not make it to our 2.4.1 release.  Moving to 2.5.0-RC1 for now.

[2020-01-16 18:02] alfusinigoj commented on #161
tested with steeltoe dev version, works perfect. thanks!

[2020-01-16 21:50] hananiel commented on #182
@nelsontbrandon currently it is not possible to support 3rd party extensions that don't use configuration settings with existing setup. I am curious as to where you are adding the Destructure.UsingAttributes line with the current setup? Are you using the "UseDynamicSerilog" extension? Ideally Destructure.UsingAttributes could be a configuration. I am open to other ideas - if you have a PR that wou

[2020-01-16 22:10] nelsontbrandon commented on #182
I don't know if my solution is the best one, but it is how I worked around this issue in my project.

Basically the solution I came up with was just preserving the IConfiguration from the constructor and using it to add the Serilog:Destructure configurations to the serilogger before the sink

[2020-01-17 15:11] #189 closed

[2020-01-17 15:11] #202 closed

[2020-01-17 15:11] #196 closed

[2020-01-17 15:11] #175 closed

[2020-01-17 16:34] TimHess opened #219 "CI Builds should pass for ALL PRs"
Due to the way GemFire is currently distributed, the CI build process has to use secrets, which results in failures on all CI builds from non-team members. PR builds should be made to pass for _all_ PRs, not just core Steeltoe team members

[2020-01-19 11:33] antonpopov opened #221 "ConfigServerConfigurationProvider and CloundFoundryConfigurationProvider are not added as configuration providers to ConfigurationRoot"
## Describe the bug
**ConfigServerConfigurationProvider** and **CloundFoundryConfigurationProvider** are not added as configuration providers to **ConfigurationRoot** when using Steeltoe's extension method for **IConfigurationBuilder**.
I was able to get my settings from our Spring Cloud Config Server on application boot, but when I called IConfigurationRoot.Reload(), to reload the settings no req

[2020-01-21 13:15] TimHess commented on #219
Builds of forks can now access secrets after approval from team members

[2020-01-21 13:24] TimHess commented on #221
Configuration should be built inside program.cs, not startup.cs. The results should be as expected if you use it inside `IHostBuilder.ConfigureAppConfiguration`.

[2020-01-21 14:25] antonpopov commented on #221
As advised I moved the configuration to `IHostBuilder.ConfigureAppConfiguration`. The providers are still not listed when **IConfiguration** is injected into **Startup.cs** constructor:
![image](https://user-images.githubusercontent.com/5244097/72812130-9e1aa380-3c69-11ea-8761-ca52de8444c4.png)

![image](https://user-images.githubusercontent.com/5244097/72812297-ed60d400-3c69-11ea-8a54-c8ac1555210

[2020-01-21 15:47] TimHess commented on #221
Why do you need a custom `ConfigurationBuilder`?

I don't think that you can just set `context.Configuration` that way. I think ASP.NET will set that property later when it uses the config builder, and also provides that other instance to the DI container.

[2020-01-21 16:49] antonpopov commented on #221
Out team implemented a custom 'DecryptionConfigurationBuilder' which handles some sensitive information we have as configuration. Possibly using the **AddConfigServer()** extension method for **IConfigurationBuilder** will allow us to continue using it.
I agree with you, perhaps the `context.Configuration` is overwritten later by ASP.NET Core. Tim I'm just trying to configure out project to use St

[2020-01-21 17:12] TimHess commented on #221
Well, if you simply must have a custom ConfigurationBuilder, you should probably either register it under a different interface (if you want to retrieve it via DI), otherwise (going back to your original example) you should be able to retrieve it via Startup.Configuration instead of relying on the injected version.

Something else to consider would be changing your configuration decryption to work

[2020-01-22 02:45] VenkateshSrinivasan commented on #130
@jkonicki thank you. Is these 3.0.0.m1 are all going to stable version. Also I'm interested to see what SDK are you using to access the K8s config map and secrets

[2020-01-22 06:45] antonpopov commented on #221
I think I misunderstood the documentation. I got it working as you suggested. I'm posting screens if anyone comes across a similar problem:
**Program.cs**
![image](https://user-images.githubusercontent.com/5244097/72871017-6e63ae00-3cf2-11ea-8b42-1d18425110ab.png)

**Startup.cs**
![image](https://user-images.githubusercontent.com/5244097/72871044-80dde780-3cf2-11ea-9481-6cd21558b14c.png)

Custom c

[2020-01-22 06:45] #221 closed

[2020-01-22 17:08] jkonicki commented on #130
3.0.0.M1 is a milestone release for the major 3.0.0 release.  Not recommended for production, more for introducing changes and for the community to begin testing, but many of the features (or parts of the new features) will be in there.  The plan is for several milestone releases before a 3.0.0 GA is released.
W.R.T. the SDK, that is still being decided.  We are happy to hear from the community.

[2020-01-22 17:09] jkonicki commented on #131
@cesinhaugusto We are happy to have the help.  Let us know if there are any questions or if you have any issues getting started on this task.  Thanks.

[2020-01-23 02:23] VenkateshSrini commented on #130
Can you please look into this https://kubernetes.io/docs/reference/using-api/client-libraries/. This is already in .NET core and can be consumed readly

[2020-01-28 14:16] cesinhaugusto commented on #131
@jkonicki Good to know that, because I'll probably need it a lot hahaha. I took some time to study Steeltoe a little bit more and get to know the project better in order to be able to make meaningful contributions.

In this specific issue, I'd like to ask you guys if the goal is to just create an Endpoint class, similar to the Spring one that @TimHess mentioned above, and add it to the EurekaBase

[2020-01-28 16:22] cesinhaugusto commented on #132
Guys, I'd like to do this one. I believe this would be similar to the RabbitMQ implementation, right?

[2020-01-28 16:28] TimHess commented on #132
I initially thought this would be similar to what we have for RabbitMQ, but a large part of the reason we have connectors is to make it easier to consume the bindings provided by Cloud Foundry - but as far as I could tell, there is no broker for Kafka, so it's a lot less clear what this idea of a Kafka connector actually looks like... As such, I was expecting we would be revisiting this issue in t

[2020-01-28 16:34] cesinhaugusto commented on #132
Great to hear. This will need further discussion then. I'll research more about Spring Streams in the meantime. Instead of tackling this one, I'll start on commenting public interfaces, as you've suggested before, to get more familiar with the project. Hopefully, I'll be able to contribute on Streams then.

[2020-01-28 16:41] TimHess commented on #131
Yeah, this is basically "make blue/green relatively easy or at least straightforward" but not like a 360 degree solution, so some form of platform or external tooling support would be expected.

I didn't get extremely far in exploratory work here, but I was expecting the bulk of the work to be done in Management in the form of a service-registry actuator... Ideally there would be little to no work

[2020-01-28 16:52] cesinhaugusto commented on #131
I see. This is a little more complex than I anticipated then. I'll learn more about Management and try to come up with a draft for this and return to get your opinion/suggestions.

[2020-01-31 20:12] hananiel opened #226 "Actuator Endpoints do not respond to Options Requests"
Actuator Endpoints do not currently respond to Options Request. This could potentially be an issue with tools like spring-boot-admin but must be verified and there is a need for this functionality.

[2020-02-03 15:56] #219 closed

[2020-02-03 16:04] dtillman opened #230 "Create RabbitMQ streams Binder"
Create binder for RabbitMQ

[2020-02-03 16:08] dtillman opened #231 "Add Dispose pattern to the streams code"
The java streams code uses a couple of Spring based dispose patterns that need to be understood and integrated into the code base

[2020-02-03 16:10] dtillman opened #232 "Create Expression language support"
The Java streams code supports an expression language.

[2020-02-03 16:17] dtillman opened #233 "Review the exposed interfaces in Common, Streams, Messaging and Integration"
Verify that the interfaces that we expose in 3.0 of Steeltoe are what we want

[2020-02-04 13:05] deepuvikraman opened #234 "Not able to get configuration from SCS 3.0 config server"
We are currently migrating our PCF config server from SCS2 to SCS3.0 and experiencing some issue with retrieving configuration.
With old version of config server (p-config-server), we were able to get configuration without specifying the configuration spring: cloud:config:label in our application.
But with SCS3.0 versin of config server (p.config-server), we are getting a http 404 (NotFound) error

[2020-02-06 20:54] hananiel opened #237 "Adding PrometheusActuator by itself fails"
Add Prometheus endpoint by itself fails with could not find "IMetricsOptions"

Prometheus endpoint depends on the Metrics Collectors which have a dependency on IMetricsOptions and must be provided to the service container.

[2020-02-06 21:43] hananiel opened #239 "Separate MetricsOptions from EndpointOptions"
Today the MetricsEndpointOptions are injected into the collectors and also control settings such as the path of the metrics endpoint. Since we now have the options to expose metrics in prometheus format, perhaps we should separate the two and let the endpoint options control the endpoint related settings and have a separate shared options for metrics such as Ingress and Egress ignore patterns.

[2020-02-07 15:03] hananiel commented on #182
@nelsontbrandon I have added some tests and slightly changed how configs are applied to subloggers. I wasn't able to make changes to your PR so ended up as a new PR but has all your commits. Thank you so much for your contribution.  Resolved by #235

[2020-02-07 15:03] #182 closed

[2020-02-07 15:05] hananiel commented on #237
resolved by #238

[2020-02-07 15:05] #237 closed

[2020-02-07 20:34] jkonicki commented on #234
Hello @deepuvikraman.  What version of Steeltoe are you using?  This was resolved in 2.3.0.  See #92 for more info.

[2020-02-07 20:35] jkonicki commented on #234
Reopen if you still have the issue.  Thank you.

[2020-02-10 15:40] dtillman opened #240 "Add support for ServiceActivator Attribute to streams"

[2020-02-10 15:41] dtillman opened #241 "Add Spring Data Flow support to the streams code"

[2020-02-10 15:42] dtillman opened #242 "Add Kafka binder to the streams code"

[2020-02-10 15:42] dtillman opened #243 "Add Azure messaging binder to the streams code"

[2020-02-10 15:44] dtillman opened #244 "Add a Steeltoe implementation of spring-amqp/rabbit"
The Streams code port of the RabbitMQ Binder will need the functionality found in the Spring-AMQP project

[2020-02-10 21:07] TimHess commented on #208
With this item, a mechanism should be provided for generating certificates during local development. These local certificates should look similar to certificates provided by PCF, such that authorization policies requiring the apps be in the same space and/or org work locally as well as on the platform.

[2020-02-11 07:33] deepuvikraman commented on #234
I am using 2.4.1 version of steeltoe. The above mentioned issue #92 was related to not able to retrieve configuration for config server (p.config-server). The issue that I am facing is, I need to have a configuration spring: cloud:config:label in my appsettings.json file. This was not required with SCS2.0

[2020-02-11 07:38] deepuvikraman commented on #234
I am not able to reopen the issue. Can you reopen it please

[2020-02-14 06:02] Karql opened #246 "ConfigServerConfigurationProvider not working with GetSection()"
Hi,

After this commit: https://github.com/SteeltoeOSS/steeltoe/commit/1f1279a821ade60d1f4a12c57e2405bad16e012f

ConfigServerConfigurationProvider not working with GetSection()
v2.4.0
![conf-2 4 0](https://user-images.githubusercontent.com/173098/74505422-6107a100-4ef7-11ea-81e2-a7b9f12d4b38.png)

v2.4.2
![conf-2 4 2](https://user-images.githubusercontent.com/173098/74505438-682eaf00-4ef7-11ea-8d3

[2020-02-14 06:04] Karql commented on #246
I've made PR https://github.com/SteeltoeOSS/steeltoe/pull/247 ;)

[2020-02-14 13:29] jkonicki commented on #234
Thank you.  We are taking a closer look.

[2020-02-14 13:34] #246 closed

[2020-02-14 20:48] #65 closed

[2020-02-18 09:01] Karql commented on #120
Hi @hananiel

Imo there is a bug in this solution.

      setting contentType to application/json;charset=UTF-8
trce: Steeltoe.Management.Endpoint.Metrics.MetricsEndpointMiddleware[0]
      Header: Accept - application/vnd.spring-boot.actuator.v2+json,application/vnd.spring-boot.actuator.v1+json,application/json

Imo Content-type should be set to max supported version.
I've levead some comments in

[2020-02-18 16:10] hananiel commented on #211
resolved by #215

[2020-02-19 21:05] TimHess commented on #208
Blocked on Linux on PCF by [this issue](https://github.com/dotnet/runtime/issues/32558)

Potential workaround could be to duplicate most of the functionality provided by `Microsoft.AspNetCore.Authentication.Certificate` using BouncyCastle for all certificate components

[2020-02-19 21:06] TimHess commented on #208
Relevant links for easy retrieval in case this work gets mothballed:

- https://docs.pivotal.io/platform/2-8/security/pcf-infrastructure/certificates-index.html
- https://docs.cloudfoundry.org/devguide/deploy-apps/instance-identity.html

[2020-02-21 09:00] zHaytam commented on #155
Hello, Mappings Actuator should also return the urls of razor pages? I would be happy to tackle this if you guys accept PRs.

[2020-02-21 13:45] TimHess commented on #155
We'd love to have your contribution on this issue, please let us know if you need any assistance getting started

[2020-02-24 16:23] hananiel opened #253 "Management Endpoints should remove obsoleted Code in 3.0"
- Update the extensions and defaults to be springboot like.

- Add an [AddAllActuators Extensions](#341)

- Update the actuator middlewares to be [Endpoint-enabled](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/routing?view=aspnetcore-3.1)

[2020-02-24 19:17] jkonicki commented on #211
See documentation for this feature here: https://steeltoe.io/docs/7-management/13-%252fprometheus

[2020-02-24 19:17] #211 closed

[2020-02-25 18:45] macsux commented on #3
This has been addressed on Java Spring side via Health Groups. See https://docs.spring.io/spring-boot/docs/current/reference/html/production-ready-features.html#health-groups

Would be good to see Steeltoe add this feature

[2020-02-25 19:38] macsux commented on #15
What you want is `bus-refresh` feature which exists in Spring. While you're waiting for necessary building blocks to be added to spring, you can find the code necessary to do what you want here, as it implements subset of needed features to make this work.
https://github.com/macsux/spa-buildpack

[2020-02-25 19:43] macsux opened #254 "Support for Config Server plain text files"
Spring Config Server supports serving raw files. This is useful in number of scenarios, especially for XML based config (and XSD overrides) which does not support layering.
https://cloud.spring.io/spring-cloud-config/reference/html/#_serving_plain_text

[2020-02-26 19:00] zHaytam commented on #155
Of course! I'm currently looking at how to get a list of all the registered razor pages, apparently it's not as "easy" as controller actions.

[2020-02-28 19:35] hananiel opened #256 "Update CLR Metrics to use EventCounters"
Currently we use an "IPolledDiagnosticSource" which is a steeltoe abstraction that polls CLR metrics.
EventCounters give a new way to get these metrics in process (and also expose out of proc via EventPipe).  We need to update the CLR Metrics Observer to use EventCounter. Other observers such aspnetcore still publish via DiagnosticSource/Listener and that code can remain the same.
https://github.c

[2020-02-28 23:03] djosemartine opened #257 "Dependency on AspNetCoreApp"
## Describe the bug
There is a dependency on AspNetCoreApp on versions above of 2.3.0 for the package Steeltoe.Extensions.Configuration.ConfigServerCore

## Steps to reproduce
Steps to reproduce the behavior:
1. Create a .Net Core Project based on Console or worker service template
2. Add Docker support
3. Install Steeltoe.Extensions.Configuration.ConfigServerCore on your project
4. Use Config ser

[2020-03-02 20:32] TimHess commented on #257
All of the Steeltoe packages with names ending in `Core` were built for ASP.NET Core, but it does look like some of the functionality could be moved to `Base` packages, namely the extension you're using here. I will see what I can do

[2020-03-03 15:50] TimHess commented on #257
There's a wrinkle with the initial idea I had, in that we'd need to add a reference to `Microsoft.Extensions.Hosting` in `ConfigServerBase` or any other package we try to make this move. I'm not sure that's the best choice in our 2.x line, as that would bring that package and its dependencies in for lots of applications that don't need it. I'm inclined to defer further investigation on that until

[2020-03-03 15:50] #257 closed

[2020-03-06 16:10] sajanep opened #260 "GetConnectionString() not working when migrated to 2.4.2"
## Describe the bug
We have the below code in our application.

`var mystring = Configuration.GetConnectionString("myKey");  `

Here Configuration is of type IConfiguration. But after migrating to Steeltoe 2.4.2 versions, it stopped working. Somehow GetConnectionString() is not able to get the values from PCF config server.  Our Program.cs looks like below

[code]
Steeltoe versions are given below

[2020-03-06 16:42] TimHess commented on #260
What was the previous version of Steeltoe in use?

Two items to note:
1.  `.AddConfigServer();` will AddCloudFoundry() automatically, you may remove `configApp.AddCloudFoundry();`
1. .NET Core version 2.2 reached end of life back in December, and v3.0 this week... You should consider either updating to 3.1 or rolling back to 2.1; both are LTS versions.

[2020-03-06 21:38] TimHess commented on #10
#252 improves this experience by wiring up a [ClientCertificateHttpHandlerProvider](https://github.com/SteeltoeOSS/steeltoe/blob/master/src/Common/src/Common.Http/ClientCertificateHttpHandlerProvider.cs) when `CertificateOptions` are configured.

Usage of the new feature should look something like this in program.cs:
[code]

[2020-03-06 21:38] #10 closed

[2020-03-09 08:06] sajanep commented on #260
It was 2.4.0 before

[2020-03-10 15:06] djosemartine commented on #257
Thank you @TimHess, understood! Thanks for all your help

[2020-03-12 16:48] TimHess commented on #260
We only had a small handful of changes to the config server client code in that time frame. This is probably not the problem, but I usually see the casing as `ConnectionStrings` ~ there is a change that addresses some case sensitivity issues that's available in our dev feed if you want to give that a try.

Are other values coming back from the config server?
Are you able to get that value out of y

[2020-03-13 14:55] sajanep commented on #260
Yes. I am able to get other values from config server if I respect the case. E.g. `var myConstring = Configuration.Get("connectionstrings:myKey");` As per microsoft https://docs.microsoft.com/en-us/aspnet/core/fundamentals/configuration/?view=aspnetcore-3.1#keys, configuration keys are case insensitive. Looks like Steeltoe has broken this.

[2020-03-15 03:35] mjnorman opened #262 "Cloud Foundry Service Options not mapping Credentials"
## Describe the bug
When attempting to use the Cloud Foundry service mapper, my credentials are not being mapped.  I get the base service properties,  but the credentials are all null.

## Steps to reproduce
Steps to reproduce the behavior:
My classes look like the below--
[code]
It's just coming through with the base service members:
[code]
## Expected behavior
I should be able to access the cred

[2020-03-16 06:56] wswind opened #263 "rabbitmq connector appsettings.json host ip config is not working"
## Describe the bug
rabbitmq connector  appsettings.json host ip config change is not working.
it still use 127.0.0.1 and will throw an error
![image](https://user-images.githubusercontent.com/18399096/76730307-ec45b200-6795-11ea-849c-a83b2cf538cd.png)

## Steps to reproduce
Steps to reproduce the behavior:
1. do as the tutorial says :<https://steeltoe.io/service-connectors/get-started/rabbit>
2.

[2020-03-23 14:09] TimHess commented on #263
This appears to be a mistake in the tutorial - the property should be named `server` not `host`

[2020-03-23 14:29] dtillman commented on #14
Seems like maybe the configuration you tried was not in proper format maybe? .. and so the consul config was not being detected?

[2020-03-23 15:45] hananiel opened #264 "Create a HytrixMetricsPublisher that publishes in prometheus format"
The Hystrix dashboard has been removed from PCF Spring Cloud Services tile. The spring cloud team has moved from hystrix to resilience4j but Steeltoe will remain on Hystrix. This will allow hystrix metrics to be published in a prometheus format.

[2020-03-23 18:02] mjnorman commented on #262
Added repro, https://github.com/mjnorman/steeltoetest

[2020-03-23 20:22] TheBritz commented on #22
I created a fix to this in the PropertyPlaceholderHelper class; just a simple, single-line replacement of Spring '.' characters for ':' characters before resolution - should I wait for this to be assigned to me or go ahead and submit a PR?

[code]

Not sure if this might introduce problems or not... may be an issue if MS, ':' delimited configuration properties can legally contain '.' as part of th

[2020-03-23 20:34] TimHess commented on #260
Hey, sorry for the delay in getting back to you, I've been on vacation...

I was finally able to test this out, and this was fixed by #247

[2020-03-23 20:38] jkonicki commented on #262
Discussion in Slack: https://steeltoeteam.slack.com/archives/C0ENXS0M8/p1584239497027100

[2020-03-24 08:51] Lechus commented on #129
allow to pass spring password using double underscores instead of colon?
spring__cloud__config__password
Right now the code uses hardcoded COLON_DELIMIT :(
in private static string GetUserPassElement(string uri, int index)

[2020-03-24 23:52] hananiel commented on #262
Basically works as expected:
 1.  services.ConfigureCloudFoundryServices (with s) is the correct overload and the expected string is the name of the service(not config key)
2. using either overload IOptionsSnapshot requires you to get the Option by name (of the service).

[2020-03-24 23:52] #262 closed

[2020-03-25 13:14] TimHess commented on #99
Added a sample here: https://github.com/SteeltoeOSS/Samples/tree/master/Connectors/src/AspDotNetCore/CosmosDb

[2020-03-27 19:15] #260 closed

[2020-03-27 19:34] jkonicki opened #266 "Bring spring placeholder resolution PR from Master branch"
Bring in #265

[2020-03-27 19:36] jkonicki opened #267 "Bring in CosmosDB connector from master branch"
Bring in #261 .  There might be some changes to make for 2.x branch

[2020-03-30 14:34] jkonicki commented on #99
Bring this work into 2.x in issue #267

[2020-03-30 15:10] jkonicki commented on #208
Waiting on Docs

[2020-03-30 15:10] jkonicki commented on #205
Waiting on docs

[2020-03-31 20:14] TimHess opened #269 "spring:cloud:config settings missing from configuration"
## Describe the bug
Changes that fixed #184 result in config server client settings (previously found under `spring:cloud:config:...`) being wiped from the dictionary and thus unavailable downstream

## Steps to reproduce
Steps to reproduce the behavior:
1. run the SimpleCloudFoundry sample
2. Look for `spring:cloud:config:name` at /Home/ConfigServerSettings

## Expected behavior
Config server cli

[2020-04-02 14:27] #29 closed

[2020-04-02 14:27] hananiel opened #276 "Update metrics to use Opentelemetry Beta"
Currently opentelemetry [opentelemetry-dotnet)](https://github.com/open-telemetry/opentelemetry-dotnet)  is in alpha. #274 Takes us part of the way. As they publish updates, we need to update our implementation of metrics.

[2020-04-02 14:27] #266 closed

[2020-04-02 14:27] #269 closed

[2020-04-03 14:36] jkonicki commented on #267
Reopening for documentation purposes

[2020-04-03 15:01] dtillman commented on #244
Initial check in completed

[2020-04-03 15:01] #244 closed

[2020-04-03 15:05] #267 closed

[2020-04-03 17:57] tscrypter commented on #107
I'd like to pick this issue up and submit a PR. I wanted to reach out first to ensure someone else wasn't already planning on doing this work and to solicit any thoughts/opinions others may have on a potential solution. I was going to follow any patterns already in place with the Eureka/Consul discovery clients and mirror my k8s implementation to something similar in the Spring-Cloud-Kubernetes di

[2020-04-03 20:01] tscrypter commented on #107
When you mention taking a dependency on `KubernetesClient`, what kind of functionality are you expecting that client to have? Is it enough if the `KubernetesClient` has a property for a `KubernetesSettingsReader` on it? I was going to create a class similar to `CloudFoundryEnvironmentSettingsReader` for extracting the service routes injected into the container's environment vars to support the ser

[2020-04-03 20:30] TimHess commented on #107
I was referring to the [KubernetesClient NuGet Package](https://www.nuget.org/packages/KubernetesClient). My expectation was that we'd be able to interact with the kubernetes api in order to retrieve things like configmaps and secrets directly. It might be useful for active lookups on services, but I hadn't begun to dig in there.

Using the environment variables could be viable, that is one idea I

[2020-04-03 20:50] tscrypter commented on #107
Awesome, thank you very much. I joined the slack channel, so I'll probably post a few updates and questions I may have in the process.
Now that you mention it, making use of the k8s api may be a more reliable approach. Using environment variables adds the additional dependency that the pods are created after the services for the environment variables to be injected that could possibly be avoided i

[2020-04-06 15:26] #99 closed

[2020-04-06 15:43] #22 closed

[2020-04-06 15:56] dtillman opened #278 "Refactor Steeltoe Messaging/RabbitMQ and add Unit Tests"

[2020-04-07 19:34] jkonicki opened #280 "Investigate: enhancement of Circuitbreaker functionality"
Currently, we use our implementation of Hystrix for circuit breaker capabilities.  We need to take a look at if supporting and enhancing our implementation is the best way forward or contribute some of the functionality of our implementation to another project.

Some areas for enhancement include (as mentioned in #24 and #25 ):
Rate limiting
Bulkheading
Automatic retrying (sync and async)
Response

[2020-04-07 19:35] jkonicki commented on #24
Closing this in favor of #280

[2020-04-07 19:35] #24 closed

[2020-04-07 19:36] jkonicki commented on #25
Related to #280

[2020-04-07 20:42] hananiel commented on #234
@deepuvikraman looks like there was an issue with scs 3.0 fixed as of https://docs.pivotal.io/spring-cloud-services/3-0/release-notes.html#3-0-11. It sounds to me like its not automatically defaulting when label is not available. Can you check what version of SCS is running in your environment. Here is a way to be able to check: https://community.pivotal.io/s/article/How-to-Check-Spring-Cloud-Serv

[2020-04-07 20:55] jkonicki opened #281 "Add UserAgent headers for SCS services"
Consider adding useragent headers to SCS services like Config Server, eureka discovery, circuitbreaker, and maybe SC gateway.

[2020-04-08 14:18] TimHess opened #284 "Rename (Web)HostBuilder extension AddCloudFoundry"
This extension should be renamed to indicate that it is adding a config provider

[2020-04-08 19:07] jkonicki opened #285 "Refactoring of connectors"
Originally connectors were built for CF.  With our move to a more platform agnostic approach to Steeltoe, we need to take a look at how we can better abstract out connector functionality for usage on other platforms.

related ticket: #26

[2020-04-08 19:12] jkonicki opened #286 "Integrate Steeltoe Streams with Spring Cloud Data Flow"
We need to create the integration with Spring Cloud Data Flow so Steeltoe streams and SCDF are interoperable.

[2020-04-08 19:15] jkonicki commented on #232
Conversation with @dtillman: Expression language support is likely something we can push into a future 3.x release.  We will only work on this if it is required for SCDF integration.

[2020-04-08 19:22] jkonicki opened #287 "Investigate and identify component to use attributes for auto-configuration"
Evaluate adding attributes for auto-configuration across Steeltoe for easier wiring and configuration inside the application.

[2020-04-08 19:28] jkonicki opened #288 "RabbitMQ Messaging support"
This Epic will track the RabbitMQ messaging functionality.

[2020-04-08 19:37] #212 closed

[2020-04-08 19:37] #205 closed

[2020-04-10 19:19] jkonicki opened #289 "Messaging namespace for RabbitMQ needs renaming"
Currently the namespace for RabbitMQ is `Steeltoe.Messaging.Rabbit` and it should be `Steeltoe.Messaging.RabbitMQ`

[2020-04-10 19:21] jkonicki commented on #278
See #289 for a dependency issue.

[2020-04-10 19:22] #234 closed

[2020-04-10 19:22] jkonicki commented on #234
Closing as resolved.  Reopen if needed.  Thank you.

[2020-04-11 04:03] VenkateshSrini opened #296 "Kubernetes adding config map and secrets"
## Is your feature request related to a problem? Please describe.
I have cloned the code for 3.0.0.m-2. I still do not see the way of adding config map and secrets with simple extension methods like what we have CF.

## Describe the solution you'd like
I would like to see methods like UseKubernetesHosting, services.ConfigureCloudFoundrySettings() to read from K8s secret or config map. What ever th

[2020-04-11 04:27] VenkateshSrini opened #355 "RabbitMQ health check creates a new connection during health check."
## Describe the bug
The points that I'm going to state is opinionated based on the feedback given my CF cluster management team. We are not using rabbit mq shipped along with PCF platform, instead have hosted the a Rabbit MQ in separate Infrastructure as a service. Issue is when I use the rabbitmq health check in my app ( the default one provided by SteelToe) for performing health check it creates

[2020-04-12 16:18] gpltaylor commented on #14
I have the same issue. Is there a patch for this. AKA downgrading or something.
Also, the link to PT is "not found".

[2020-04-13 13:20] jkonicki commented on #14
@gpltaylor We no longer use Pivotal tracker, so I have removed the comments for that.
@dtillman Any more help you can provide here?

[2020-04-13 15:17] dtillman commented on #14
@gpltaylor : Can you try setting the config values I mentioned above, to see if it works?
I think the previous issue reporter might have not correctly entered the JSON into his AppSettings ..
If it doesn't solve it.. any chance you have a sample?
Dave

[2020-04-14 16:35] jkonicki opened #292 "Consider moving docs and any code to PascalCase"
We now have a JSON Schema at https://steeltoe.io/schema/latest/schema.json
This schema is using Pascal Case to match the MSFT JSON.
Our docs and code typically show as Camel Case.  We need to take a look at our docs and code to make sure that we are handling these consistently.
Overall, we should be case insensitive.

[2020-04-15 10:09] gpltaylor commented on #14
@dtillman yes this works (when I type it correctly :) )
thanx

[2020-04-15 13:53] TimHess opened #293 "LoadBalancerDelegatingHandler can't be instantiated"
## Describe the bug
Applications using `Hostbuilder.AddServiceDiscovery()` fail to start with exception:
[code]

[2020-04-15 13:54] TimHess commented on #293
`LoadBalancerHttpClientBuilderExtensions.AddLoadBalancer<T>()` has this line, which causes the problem and serves no apparent purpose:
[code]

[2020-04-15 18:19] jkonicki commented on #296
Transferred issue from `Samples` repo to `Steeltoe` repo as this request pertains to the core codebase not the samples.

[2020-04-15 18:20] jkonicki commented on #296
This work directly reflects the work being done in #209.

[2020-04-16 02:57] VenkateshSrini commented on #296
Can I know when the initial merge to the master repo will be available for us to review?

[2020-04-18 11:45] zh6335901 commented on #293
I am new to steeltoe. What way can replace use `Hostbuilder.AddServiceDiscovery()` in 2.4.3?

[2020-04-20 13:14] TimHess commented on #293
@zh6335901 the workaround for the bug in HostBuilder.AddServiceDiscovery in 2.4.3 is to call `services.AddDiscoveryClient(Configuration)` and `app.UseDiscoveryClient()` in `startup.cs`

[2020-04-21 01:28] zh6335901 commented on #293
@TimHess  Thanks:)

[2020-04-21 20:05] jkonicki commented on #296
@VenkateshSrini
Yes.  The best way would be to subscribe to #209 for ticket updates.  Once that work is complete it will be added to our myget.org steeltoedev feed.  Feel free to reach out with any other questions.

I am closing this ticket in favor of #209.

[2020-04-21 20:05] #296 closed

[2020-04-21 20:22] jkonicki opened #297 "Document service to service authentication using rotating certificates"
Issue #208 needs to be documented.  Note: Docs were waiting on bug fix in .NET Core 3.1

[2020-04-21 20:23] jkonicki commented on #208
Closing now.  Docs to come in #297

[2020-04-21 20:23] #208 closed

[2020-04-21 20:36] jkonicki opened #298 "Data Flow support"
Built on top of the Streams and Messaging work.  This will give Steeltoe users interoperability with Spring Cloud Data Flow.

[2020-04-21 20:43] jkonicki opened #299 "OpenTelemetry/.NET Diagnostics library implementation for our metric subsystem"
Moving from OpenCensus (no longer active project) to OpenTelemetry or .NET Diagnostic library implementations.

Targeting support for : Metric actuator, CLR runtime metrics, Distributed Tracing, and Circuit Breakers events throughout Steeltoe.

[2020-04-21 20:50] jkonicki opened #300 "Kafka support for Streams and Data Flow"
Add Kafka to our supported Streams implementations

[2020-04-21 20:51] jkonicki opened #301 "Azure Service Bus support for Streams"
Add Azure Service Bus support to our Streams implementations

[2020-04-22 08:42] zhanggaolei001 opened #302 "spring:application:name not used in Discovery"
## Describe the bug
I'm using the Steeltoe.Discovery.ClientCore.dll and its dependencies(v3.0.0-m2).the application name was not work;(**v2.4.3 works well**).

## Steps to reproduce
Steps to reproduce the behavior:
This is my application.json code:
`"spring": {
    "application": {
      "name": "client-service"
    }
  },
  "eureka": {
    "client": {
      "serviceUrl": "http://localhost:8761/eu

[2020-04-22 20:52] TimHess commented on #107
Hey @tscrypter, you still going strong on this? Not intending to rush you or anything, just checking if you need anything!

Adding a link to your branch for tracking... https://github.com/SteeltoeOSS/Steeltoe/compare/master...tscrypter:tscrypter/107/k8s-native-service-discovery

[2020-04-22 20:59] TimHess commented on #21
`HttpClientHelper.GetHttpClient` appears to be used in the following:

- ConfigServerBase
- EurekaBase
- Authentication.CloudFoundryCore
- EndpointBase (Cloud Foundry Security)
- CredHubBase

[This SO question/answer](https://stackoverflow.com/a/52622851/761468) may help for cases where we can't rely on DI to provide instances of HttpClient

[2020-04-23 03:36] liningit commented on #21
you can use HttpClientFactory or use static
if you new many HttpClient then Consume a lot of TCP

[2020-04-23 03:39] liningit commented on #21
HttpClient.Dispose() not release TCP

[2020-04-23 12:00] tscrypter commented on #107
Hey @TimHess ,
I'm still making progress on this. I got some scaffolding in place and am working on adding automated tests while ironing out the wrinkles currently.

[2020-04-27 07:21] zh6335901 opened #307 "Consul discovery throw the check id does not have associated TTL"
I am testing out the discovery component with consul. `Steeltoe.Discovery.ClientCore` verison is 2.4.3. But i encounter error:

This is my startup code:
[code]
This is my consul discovery configuration in appsettings.json:
[code]
Am i missed some configuraion or code?

[2020-04-27 08:18] zh6335901 commented on #307
I found the problem. It need to add port configuration in discovery section:
[code]

[2020-04-27 08:18] #307 closed

[2020-04-27 09:20] lllhhu opened #308 "Where can I find the 2.1.0 source code? Is there an address"
Where can I find the 2.1.0 source code? Is there an address

[2020-04-27 11:05] TimHess commented on #308
What do you need the 2.1.0 version of Steeltoe code for?

It is all in this repo, there is a tag for [2.1.0](https://github.com/SteeltoeOSS/Steeltoe/tree/2.1.0)

[2020-04-27 15:56] zh6335901 opened #309 "What does the 'healthCheckPath' actually mean in consul discovery"
I am testing out the Consul Discovery. And i see the document said the `consul:discovery:healthCheckPath` setting is server health check path, we can set the setting to provide our own health check. So i set this setting in my sample project:
[code]
And in my sample project startup, I config the health check endpoint by `Microsoft.Extensions.Diagnostics.HealthChecks` packages:
[code]

But when i s

[2020-04-28 18:16] TimHess opened #310 "MongoDB Health Check Always Fails"
## Describe the bug
`MongoDbHealthContributor` always reports "down" status

https://steeltoeteam.slack.com/archives/C0ENXS0M8/p1587978471050300

[2020-04-29 13:19] #310 closed

[2020-04-29 18:23] #256 closed

[2020-04-30 14:15] hananiel opened #314 "Pull springbootadmin client into 2.x"
## Is your feature request related to a problem? Please describe.
A clear and concise description of what the problem you would like solved.

## Describe the solution you'd like
A clear and concise description of what you want to happen.

## Describe alternatives you've considered
A clear and concise description of any alternative solutions or features you've considered.

## Additional context
Add

[2020-04-30 21:20] #308 closed

[2020-04-30 22:08] TimHess opened #315 "Add Kubernetes Integration Testing"
Consider using https://kind.sigs.k8s.io/

[2020-05-01 14:43] #302 closed

[2020-05-01 14:44] #293 closed

[2020-05-01 17:35] hananiel commented on #309
HealthCheckPath means the stem of the url off the HostName (defaults to machine name) so running locally on windows machine the healthcheckUrl becomes   http://desktop-1jnk1hq:5000/health. So your assumption is correct.

The reason the configuration wasnt working as expected was because by default Consul Configuration is using TTL controlled by "consul:Discovery:Heartbeat:Enabled" which is true.
I

[2020-05-01 20:52] jkonicki opened #316 "K8s - Add liveness endpoint for use with liveness probe in containers"
`liveness` probes are used to know when to restart a container. For example, liveness probes could catch a deadlock, where an application is running, but unable to make progress. Restarting a container in such a state can help to make the application more available despite bugs.

https://kubernetes.io/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes/

[2020-05-01 20:55] jkonicki opened #317 "K8s - Add readiness endpoint for use with readiness probe in containers"
`readiness` probes are used to know when a container is ready to start accepting traffic. A Pod is considered ready when all of its containers are ready. One use of this signal is to control which Pods are used as backends for Services. When a Pod is not ready, it is removed from Service load balancers.

https://kubernetes.io/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-

[2020-05-01 20:58] jkonicki opened #318 "K8s - startup endpoint for use with startup probe in containers"
`startup` probes are used to know when a container application has started. If such a probe is configured, it disables liveness and readiness checks until it succeeds, making sure those probes don’t interfere with the application startup. This can be used to adopt liveness checks on slow starting containers, avoiding them getting killed by the kubelet before they are up and running.

https://kuber

[2020-05-02 15:09] zh6335901 commented on #309
@hananiel Thanks! It's worked

[2020-05-02 15:09] #309 closed

[2020-05-04 16:07] hananiel opened #319 "Consul client should not defaults to TTL when health is specified"
Currently consul defaults to using TTL even if health endpoints are configured. It should default to TTL only if no other health check options are configured. Workaround is to use this here: https://github.com/SteeltoeOSS/Steeltoe/issues/309#issuecomment-622485201_

[2020-05-05 13:29] TimHess opened #320 "Enable Deterministic Builds"
Deterministic builds are important as they enable verification that the resulting binary was built from the specified source and provides traceability.

Follow this example https://github.com/clairernovotny/DeterministicBuilds

[2020-05-05 21:18] billkable commented on #3
In Spring Boot 2.3.x, Liveness and Readiness checks will be first class citizens (building on Health Groups).  It would be nice to see a similar roadmap.

See [Liveness and Readiness Probes with Spring Boot](https://spring.io/blog/2020/03/25/liveness-and-readiness-probes-with-spring-boot)

[2020-05-05 21:41] jkonicki commented on #3
Thanks @billkable.  Those are already captured in #316 #317 - They will likely be on the roadmap for Steeltoe 3.1.0.

[2020-05-06 18:31] jkonicki opened #321 "Actuator Health Groups"
Health groups feature should be added.  Similar functionality here:  https://docs.spring.io/spring-boot/docs/current/reference/html/production-ready-features.html#production-ready-health-groups

[2020-05-06 19:41] TimHess commented on #210
In my view, this feature is effectively providing support for working with [Service Catalog](https://kubernetes.io/docs/concepts/extend-kubernetes/service-catalog/) and various [open service broker api implementations](https://github.com/openservicebrokerapi/servicebroker/blob/master/gettingStarted.md#example-service-brokers) but I'm not clear on how in-demand this functionality is.

If this featu

[2020-05-07 03:19] VenkateshSrini commented on #210
I code in .NET core. I would like to load the default settings from appSetting.json and as we are doing that in cloud foundry I would like to override the environment-specific backing services from Config map and secrets.

[2020-05-07 13:22] TimHess commented on #210
@VenkateshSrini that (general) scenario should be supported by #304, provided you use the same config keys for values you want to override and add your config providers in the desired order.

This feature expects there to be some alternative format for providing service credentials, where a simple config key-based environment override isn't directly applicable

[2020-05-07 13:31] VenkateshSrini commented on #210
@TimHess ,
Thanks for the clarification. Since the description is so lean, I thought it was linked the issue to 304.

[2020-05-07 14:38] jkonicki commented on #276
From Discussion: Waiting on beta release of OpenTelemetry to update this ticket.

[2020-05-07 14:41] jkonicki commented on #264
Closing as duplicate of #134

[2020-05-07 14:41] #264 closed

[2020-05-07 14:42] hananiel commented on #134
#264 is closed in favor of subscribing to the existing hystrixmetricspublisher and republishing on eventsource format.

[2020-05-07 16:57] TimHess commented on #210
More relevant links:

- https://github.com/buildpacks/spec/blob/master/extensions/bindings.md
- https://github.com/spring-projects/spring-boot/issues/21322
- https://github.com/dsyer/spring-boot-bindings

[2020-05-08 00:43] VenkateshSrini commented on #210
All this is true if we use buildpacks to create our container even in case of k8s. But that will not be the case when a more descriptive and more flexible Docker file approach is available. This is just my take

[2020-05-08 14:47] TimHess opened #323 "Exception on App Start using Zipkin"
## Describe the bug
`services.AddDistributedTracing(Configuration, builder => builder.UseZipkinWithTraceOptions(services));`  may not be able to find a required `IApplicationInstanceInfo`

## Expected behavior
App starts without error... if platform-specific implementation wasn't registered then default implementation is used

[2020-05-11 04:39] VenkateshSrini opened #327 "Version 2.4.3, cloud foundry actuators are not working"
## Describe the bug
I'm using SteelToe with Pivotal cloud foundry Application Services. I use .NET core and host in cflinux3 stack. I have added all the necessary packages including 'SteelToe.Management.CloudFoundryCore` . I have added `AddCloudFoundry()` `AddCloudFoundryActuators` and `UseCloudFoundryHosting` in `CreateHostbuilder` in program.cs

I have added `services.AddCloudFondryActuators(Con

[2020-05-11 14:29] hananiel commented on #327
@VenkateshSrini running in PCF the actuators path always needs to be /cloudfoundryapplication. With the newer versions, this is automatically done for you when you use the overload to set the context to ActuatorAndCloudFoundry or just Cloudfoundry. In this case, the base path should not be set in settings.

[2020-05-11 18:30] #323 closed

[2020-05-12 01:39] VenkateshSrini commented on #327
Could you please be more descriptive? I'm unable to understand when you say `use the overload to set the context to ActuatorAndCloudFoundry or just Cloudfoundry`. Can you please provide the command that needs to be used and if so where, In program.cs where we do the `AddCloundfoundry` or in the Startup.cs where we do the `AddActuators`

[2020-05-12 01:59] VenkateshSrini commented on #161
@alfusinigoj , can you please provide me a sample where you have got the actuator work. I'm still not able to get it working

[2020-05-12 02:34] alfusinigoj commented on #161
@VenkateshSrini here is a working sample https://github.com/alfusinigoj/pivotal_aspnet_bootstrap_cloudfoundry_extensions/tree/master/samples/Actuators/ActuatorSample

[2020-05-12 14:26] VenkateshSrini commented on #327
@hananiel ,
Thanks it worked. But I wanted to put up the steps I did  so that it will be useful for other users also

1. we have to put MediaType version parameter and AddActuatorContext in both configureservices and configure method UseCloudfoundry method invocation.
2. We need to add AddCloudFoundry() in ConfigureAppConfiguration in web host builder.
3. If we are using the base path then managem

[2020-05-12 14:26] #327 closed

[2020-05-12 14:28] VenkateshSrini commented on #161
Thanks alfus it  worked

[2020-05-15 11:11] zh6335901 opened #331 "Consul discovery compute the loopback address first"
Hi, I have a service instance using consul discovery. But the disovery component register the loopback address to consul. I think it should be register the internal ip address to consul first, not loopback address.
My service  discovery configuraion:
[code]
Consul dashboard shows:
![image](https://user-images.githubusercontent.com/3895438/82044168-6daab980-96df-11ea-8802-197bc0ed21d4.png)
My servi

[2020-05-15 11:17] zh6335901 commented on #331
I know it can set specified IpAddress in the consul configuraion section. But it need set every time on different machine.

[2020-05-19 23:03] seif commented on #317
Just stumbled upon this while checking out what you are building for 3.0 and was curious how this will work and interact with discovery as we've had similar issue on our internal discovery solution. Ended up hooking the announcement to discovery to an event triggered in the ready controller once it passes.

Is there a case where we could announce to discovery but have not passed ready and so not r

[2020-05-20 18:22] macsux opened #333 "Push based Kubernetes support for informers as CRDs"
Currently, actuators are nearly useless outside of Cloud Foundry because they have "bring your own security" model, which few are willing to tackle. Also, some endpoints are very specific to container instances (/health) which makes it awkward to request this when running behind load balancer, as you need special tricks to target specific instance. They also require app to be exposed over HTTP and

[2020-05-20 18:26] TimHess commented on #331
@zh6335901 we would agree that setting the IP address for each machine isn't a workable solution. I'm not exactly sure how that's happening for you, but we do already have some code in Steeltoe.Common that should provide additional flexibility in this area, I should be able to start a PR that uses it today

[2020-05-21 18:09] jkonicki commented on #317
@seif Thanks for reaching out.
We are still working through the design and implementation for this piece, so at this time very little discussion about details.  Once we are active on this issue, we will be better able to answer some questions here.
If you have suggestions or use cases you would like us to consider, please add them here.
Thanks.

[2020-05-21 18:23] TimHess commented on #333
One bit of functionality that I think is interesting about `/loggers` that seems like it would disappear here is the ability to list loggers and their current configuration. I'm not sure that's essential functionality, but it is nice to be able to confirm that a logger is running at the level I think it should be

[2020-05-21 18:24] macsux commented on #333
You can totally report it back into CRD. It would have to be a custom
object though instead of config map to support "status".

On Thu, May 21, 2020 at 2:23 PM Tim Hess <notifications@github.com> wrote:

[2020-05-21 18:25] macsux commented on #333
I actually think it would make sense to merge that with /env, as logger
configuration is very much related to the current state of configuration of
the app.

On Thu, May 21, 2020 at 2:24 PM Andrew Stakhov <andrew.stakhov@gmail.com>
wrote:

[2020-05-22 00:00] asalhani commented on #309
@hananiel  Thank for the great clearification. It worked based in your suggestion..

[2020-05-23 15:38] ahaleiii commented on #23
Does Steeltoe block the thread when running `Health()` on IHealthContributor? Does this mean that there should not be implementations of IHealthContributor for external network calls?

[2020-05-26 19:32] dtillman opened #336 "Provide an implementation of ApplicationListener and ApplicationEventPublisher"

[2020-05-27 15:57] TimHess opened #338 "Kubernetes Info Contributor"
Add an `IInfoContributor` that contributes information about the Kubernetes environment

https://github.com/spring-cloud/spring-cloud-kubernetes/blob/master/spring-cloud-kubernetes-core/src/main/java/org/springframework/cloud/kubernetes/KubernetesInfoContributor.java

[2020-05-27 16:59] #134 closed

[2020-05-27 16:59] #239 closed

[2020-05-27 20:02] hananiel commented on #23
No it doesn’t block. The middleware is invoked asynchronously.

[2020-05-29 20:16] TimHess opened #341 "Add Another Extension to Use Most/All Actuators"
Provide functionality similar to `AddCloudFoundryActuators` that isn't CF-specific

[2020-05-29 20:21] TimHess commented on #285
Consider better compatibility with [`GetConnectionString` ](https://docs.microsoft.com/en-us/dotnet/api/microsoft.extensions.configuration.configurationextensions.getconnectionstring?view=dotnet-plat-ext-3.1)

[2020-05-31 11:44] daixinkai opened #343 "Application stopped when consul TTL connect fail"
## Describe the bug
Application stopped when consul TTL connect fail

## Steps to reproduce
1.Run application and register service success.
2.Close consul service.
3. Wait a moment.

## Expected behavior
The application has been stopped.

## Environment
 - .NET Core App 3.1
 - Steeltoe.Discovery.ClientCore Version 2.4.3

## Repair
class : Steeltoe.Discovery.Consul.Discovery.TtlScheduler

[code]
To

[2020-06-01 15:21] #314 closed

[2020-06-03 15:49] hananiel commented on #119
I looked into this - Swagger implementations use ApiExplorer for discovering Api to document and ApiExplorer uses attribute routing attributes to discover them. So they intentionally treat endpoints that are not attributed routed differently. So for example Microsoft AddHealthChecks middleware is not discovered and published in swagger either. In addition Steeltoe's Mappings endpoint treats the ma

[2020-06-03 20:30] #331 closed

[2020-06-04 20:44] TimHess commented on #320
Not merged in 3.0 yet

[2020-06-05 17:39] ccheetham opened #349 "investigate versioning alternatives"
The current versioning implementation is functional but is daunting to the uninitiated.

A recent chatroom discussion mentioned a couple of alternatives:
* use build ID from build system (in case of DevOps, `BUILD_BUILDNUMBER`)
* [GitVersion](https://gitversion.net/docs/)

This is by no means an exhaustive list.  Additional ideas can be added as comments.

The team needs pro/con assessment of alte

[2020-06-05 22:28] hananiel commented on #343
Resolved by #346. Thanks for the bug report and suggested solution @daixinkai !

[2020-06-05 22:28] #343 closed

[2020-06-08 18:31] TimHess commented on #119
There are other benefits for hooking into Endpoint Routing, here's a recent video that explains more: https://channel9.msdn.com/Shows/On-NET/ASPNET-Core-Series-Endpoint-Routing

[2020-06-15 18:44] hananiel commented on #23
Steeltoe supports the IHealthContributor to mirror the Spring Boot [interfaces](https://github.com/spring-projects/spring-boot/blob/v2.3.1.RELEASE/spring-boot-project/spring-boot-actuator/src/main/java/org/springframework/boot/actuate/health/HealthIndicator.java).
Steeltoe also supports the Microsoft IHealthCheck [interfaces](https://docs.microsoft.com/en-us/dotnet/api/microsoft.extensions.diagnos

[2020-06-15 18:54] jkonicki commented on #232
After more investigation, this will be needed for 3.0 with SCDF integration.

[2020-06-16 19:08] TimHess commented on #14
This issue appears to have been caused by application configuration issues and there doesn't appear to be a problem with Steeltoe. I'm going to close the issue, but please re-open if needed

[2020-06-16 19:08] #14 closed

[2020-06-16 19:57] TimHess opened #358 "No-Op (DNS-Based) Service Discovery/Lookup"
Provide a way for Steeltoe Discovery to operate in a pass-through way so that an application can seamlessly fall back on DNS-based resolution of services where a tool like Consul or Eureka isn't necessarily required (eg: docker, kubernetes) without workarounds

[2020-06-25 14:16] hananiel opened #362 "Auto-detect platform and add necessary endpoints"
Automatically adding dependencies based on platform ex. kubernetes, cloudfoundry

[2020-06-25 14:51] jkonicki opened #363 "Give option to add a specific list of endpoints at startup"
Add method that will only create a specific list of endpoints for creation at startup.

i.e. AddActuators(list of endpoint enums)

[2020-06-25 14:56] hananiel opened #364 "Health Endpoint Middleware should Check health in parallel"
When multiple health check Contributors are present, currently the middleware checks them one after the other. This needs to be done in parallel.

[2020-06-25 20:40] Lonli-Lokli commented on #119
Just 2c, here is the implementation for gRPC
https://github.com/aspnet/AspLabs/blob/master/src/GrpcHttpApi/src/Microsoft.AspNetCore.Grpc.Swagger/Internal/GrpcHttpApiDescriptionProvider.cs

[2020-06-26 11:30] christianerbsmehl opened #365 "Credentials in URIs need to be encoded"
## Describe the bug
When using Eureka, Steeltoe Connector creates ServiceInfos for all bound services, such as Databases or similar. When this happens, it creates an uri from the supplied credentials of the bound service (using `scheme`, `host`, `port`, `username`, `password`, `path` and `query` values). If the supplied credentials include a username and/or password with special charcaters (like t

[2020-06-26 11:40] jkonicki commented on #365
In addition to the expected behavior above, there should also be a better/more accurate error message from the URI validation.

[2020-06-29 06:03] dboy2018 opened #368 "using RoundRobinLoadBalancer with redis"
## Describe the bug
There are some instances in the Eureka.When I remove or add a instance,ServiceInstances-XXXX can't update.
So I add DistributedCacheEntryOptions into the file.

IServiceInstanceProviderExtensions.cs
      if (distributedCache != null)
            {
                await distributedCache.SetAsync(serviceInstancesKeyPrefix + serviceId, SerializeForCache(MapToSerializable(instance

[2020-06-29 06:15] dboy2018 commented on #368
RandomLoadBalancer is the same

[2020-06-29 15:55] hananiel opened #369 "Actuator Endpoints should listen on a different port than application port"
Support listening to actuators on a separate port than Application port.

[2020-06-29 15:58] hananiel opened #370 "Make IConfiguration an optional parameter to AddXXXActuator"

[2020-06-29 18:22] #341 closed

[2020-06-30 11:37] TimHess commented on #368
You're right, it looks like we are completely missing the ability to set the expiration on cache entries with the load balancers, which is a feature that would be expected to be present and it's fair to call that a bug...

This is a feature we need, but it should be configurable rather than hard-coded, so we'll also need to add a mechanism for either reading app configuration or accepting `Distrib

[2020-06-30 16:15] TimHess opened #372 "Enhance Serilog Integration with Management"
Enhance the Serilog integration so it is as easy/seamless to use as the dynamic console logger (eg: can Serilog be used in combination with `HostBuilder.AddCloudFoundryActuators`?)

[2020-06-30 17:33] ddieruf opened #373 "builder.UseZipkinWithTraceOptions unhandled exception"
## Describe the bug
When using the milestone2 distributed tracing exporter I am getting an ArgumentNullException.

## Steps to reproduce
Steps to reproduce the behavior:
1. Add `services.AddDistributedTracing(Configuration, builder => builder.UseZipkinWithTraceOptions(services));` in startup.cs of a netcore31 project.
2. Use all the default - nothing in appsettings
3. Start the zipkin server on ht

[2020-07-01 13:57] ddieruf commented on #373
After a brief bit of debugging I found that if I included AddCloudFoundry in the HostBuilder, things worked as expected. I am not using cloud foundry so this is not a good fix for me.

`public static IHostBuilder CreateHostBuilder(string[] args) =>
				Host.CreateDefaultBuilder(args)
						.ConfigureWebHostDefaults(webBuilder => {
							webBuilder
							.ConfigureLogging((builderContext, logging

[2020-07-10 19:50] TimHess commented on #3
Health groups are included as of #371

[2020-07-10 19:50] #3 closed

[2020-07-13 15:12] #23 closed

[2020-07-13 15:13] hananiel commented on #23
resolved by #371

[2020-07-13 19:40] #209 closed

[2020-07-13 19:40] #320 closed

[2020-07-13 19:40] #316 closed

[2020-07-13 19:40] #284 closed

[2020-07-13 19:40] #364 closed

[2020-07-13 19:43] jkonicki commented on #23
PR #364 added parallel processing for existing Steeltoe Health checks.

[2020-07-13 19:43] #317 closed

[2020-07-13 19:44] #338 closed

[2020-07-13 19:55] jkonicki commented on #373
Fixed in #324

[2020-07-13 19:55] #373 closed

[2020-07-13 19:58] #253 closed

[2020-07-13 19:58] hananiel commented on #253
resolved by #361

[2020-07-13 20:16] jkonicki opened #380 "Consider adding Swagger support for our endpoints"
#119 started to look into this, but only endpoint routing was added to actuators. See that ticket for additional details.

Look into whether we should make additional changes to fully support Swagger.

This implementation might help: https://github.com/aspnet/AspLabs/blob/master/src/GrpcHttpApi/src/Microsoft.AspNetCore.Grpc.Swagger/Internal/GrpcHttpApiDescriptionProvider.cs

[2020-07-13 20:44] jkonicki commented on #119
Some of this work was done in PR #361.  The rest will be explored in #380

[2020-07-13 20:44] #119 closed

[2020-07-13 20:48] jkonicki commented on #299
#134, #256, #264 we added in 3.0.0.
#276 will be added once the OTel beta/GA is available along with any necessary changes.

[2020-07-13 20:51] jkonicki commented on #130
3.0.0-m3 will contain the work from #209, #316, #317, #338

3.0.0-rc1 will contain at least #107 and #358.

[2020-07-13 20:54] jkonicki commented on #321
Completed in 3.0.0-m3 - #3, #316, and #317.

[2020-07-13 20:57] jkonicki commented on #288
Completed in 3.0.0 milestones 2 and 3 - #244, #273, #278 (80% completed)

3.0.0-rc1 will contain - #278 and #289

[2020-07-13 20:58] jkonicki commented on #204
3.0.0 milestone 2 contained - #205, #208

[2020-07-14 02:54] VenkateshSrini commented on #130
Any idea when a production-ready version is expected that contains all these features. I see that m3 is 100% complete and Rc1 is not showing progress. Is there some way we can see some early bits with samples.

[2020-07-14 20:25] jkonicki commented on #130
Hi @VenkateshSrini, The good new is that M3 is available now and samples are coming soon.  The bad news is that during publishing to Nuget.org they blocked our Kubernetes packages at this time and we need to get approval for our naming, so everything but the Kubernetes packages are on NuGet under 3.0.0.M3.   You can access the Kubernetes packages on MyGet.org (https://www.myget.org/feed/Packages/s

[2020-07-15 03:17] VenkateshSrini commented on #130
Is M3 production ready?

[2020-07-15 15:42] jkonicki commented on #130
Not recommended.  Here is a list of our release types: https://github.com/SteeltoeOSS/Steeltoe#release-types

[2020-07-24 19:56] TimHess opened #381 "Remove Newtonsoft-based HttpClient Json Extensions"
Steeltoe.Common.Http includes several extension methods that handled (de)serializion to/from Json (via Newtonsoft) with HTTP interactions. New versions of these extensions are now shipped in `System.Net.Http.Json` and ours are no longer needed.

Remove these extensions, update code that used them and convert as much to System.Text.Json as is feasible

[2020-07-24 19:58] TimHess commented on #28
Also use this issue to confirm our client is compatible with current versions of CredHub

[2020-07-27 18:44] TimHess opened #384 "Remove Json* Classes in EurekaBase/Transport"
The Eureka discovery client includes a handful of files that might be replaceable by reworking the serialization and de-serialization. Most/all of these files have `Json` in the name and are `internal`, and could potentially be completely removed.

[2020-07-28 15:27] TimHess opened #385 "Update Steeltoe's Consul Dependency"
Our initial Consul implementation was based on the Consul client by Playfab, but that project was archived... it has now been superseded by [this project](https://github.com/G-Research/consuldotnet).

The G-Research team has begun publishing under the same package name, so to the end user it will look like Steeltoe should work with it. Investigate for breakages by updating the code and/or creating

[2020-07-28 17:55] TimHess opened #386 "All Dynamic Logger setup paths should Ensure Clean Setup by default"
For 3.0, Steeltoe should always remove the standard ConsoleLogger

[2020-07-29 15:21] jkonicki commented on #233
DT:  Common and Messaging has been evaluated in 3.0.0.
Streams and Integration will be in 3.1.0

[2020-07-29 15:24] jkonicki opened #387 "Enable Rabbit client SSL configuration"

[2020-08-04 20:06] jkonicki opened #391 "Add "Experimental" tag to Stream packaging description"
For 3.0, Streams work will be an experimental state.  We should update the description of the package to reflect that.

[2020-08-05 15:12] jkonicki opened #392 "Complete the removal of newtonsoft package"
Some of the work was completed already, but we should do a final cleanup of the newtonsoft package and move to System.text packages.

[2020-08-06 22:10] #391 closed

[2020-08-06 22:21] ani00763 commented on #113
I have an application where I'm trying to implement Steeltoe dynamic serilogger, but its not working. I followed following steps, could you please help me figuring out what I'm doing wrong. Sorry for long post, but i wanted to explain all possible scenarios I have tried. I found this thread as closed but still not able to make it work at my end.

1) Create new .Net Core API project.
2) Added below

[2020-08-06 23:03] jkonicki commented on #113
@hananiel Are you able to look at this?

[2020-08-10 16:02] #368 closed

[2020-08-10 16:03] #285 closed

[2020-08-10 16:03] #107 closed

[2020-08-10 16:03] #355 closed

[2020-08-10 16:05] #26 closed

[2020-08-10 16:05] #365 closed

[2020-08-10 16:05] #358 closed

[2020-08-10 16:06] #281 closed

[2020-08-10 16:06] #381 closed

[2020-08-10 16:06] #27 closed

[2020-08-10 16:07] #289 closed

[2020-08-10 21:56] #387 closed

[2020-08-10 21:59] jkonicki opened #399 "Finalize RabbitMQ messaging code"
* Update RabbitMQ client reference to GA version
* Finalize the code for general availability

[2020-08-10 22:01] jkonicki opened #400 "Increase test coverage for RabbitMQ messaging"
Continuation of #278 (released in RC1)

Add test coverage to new messaging component.

[2020-08-10 22:01] #278 closed

[2020-08-10 22:04] #321 closed

[2020-08-10 22:05] jkonicki commented on #128
Stream libraries will only be in an experimental state for 3.0.0.  It will be finalized in our 3.1.0 release.

[2020-08-10 22:07] jkonicki commented on #130
3.0.0-rc1 contains the preview of what will be in released for 3.0.0 GA (expected in mid-August). See roadmap for updates.

[2020-08-11 20:46] TimHess opened #401 "Steeltoe.Connector.CloudFoundry not loaded"
Because there aren't any hard references to `Steeltoe.Connector.CloudFoundry` (or other assemblies providing classes with connector-related attributes), `CloudFoundryServiceInfoCreator` probably won't be found at runtime, resulting in Cloud Foundry bindings not being found.

Fix by adding code to load assemblies (that haven't yet been loaded) that contain the Connector attribute in question

[2020-08-11 20:47] TimHess commented on #385
All unit tests pass after upgrading to the latest package version (1.6.1.1) - need to do some more integration testing with running apps, but looks good so far

[2020-08-12 01:02] TravisBoatman opened #402 "Steeltoe.CloudFoundry.ConnectorCore 2.4.4 or 3.0.0-m1 does not work with MySqlConnector >= 1.0.0"
When using MySqlConnector version >= 1.0.0 ConnectorCore cannot find the service.

`Value cannot be null. (Parameter 'serviceType')`

![image](https://user-images.githubusercontent.com/16249995/89963464-84887b80-dbfc-11ea-939c-e8783bd811d7.png)

This is probably due to a namespace change in version 1.0.0.
See here: https://github.com/mysql-net/MySqlConnector/issues/824

## Steps to reproduce
Steps

[2020-08-12 17:21] #386 closed

[2020-08-12 17:36] TimHess opened #407 "DiscoveryClient assembly not always loaded"
When using the reflection-based approach to load Discovery Client assemblies, assemblies that have not been referenced in code won't be found. Same root cause as #401

[2020-08-12 17:49] TimHess commented on #385
I found no issues in my testing and don't see a need to adjust the dependency configuration at this time

[2020-08-12 17:49] #385 closed

[2020-08-12 21:03] #401 closed

[2020-08-13 14:14] ani00763 commented on #113
Did  anyone got chance to look into this? I'm still looking for some help here.

Thank you,

[2020-08-13 18:36] hananiel commented on #113
@ani00763  I am looking at it now ...

[2020-08-14 16:32] jkonicki opened #410 "RFC: Create a Steeltoe Reference application"
Build a reference application that utilizes many/most of the components our libraries provide.

This will allow the team and users a way to observe our recommended way to utilize our features, testing of new features and a central area for referencing our features.

We would love to get ideas for this application from the community.

[2020-08-14 16:35] jkonicki opened #411 "Identity Server security support"
Along with the OpenID and OAuth2 that we currently offer, Identity Server should be the next support path we take for single sign-on, identity management, authorization, and API security.

[2020-08-14 16:37] jkonicki commented on #402
Thank you @TravisBoatman

[2020-08-14 16:37] #402 closed

[2020-08-17 10:51] #407 closed

[2020-08-17 14:00] tomer-cohen commented on #113
@hananiel  , is it possible to use the AddSerilogDynamicLogger() without removing UseSerilog() ? I'm using SerilogRequestLogging which demands it.

[2020-08-17 19:33] ani00763 commented on #113
@hananiel Thank you for looking into the issue. I'll work on the suggestion and also refer the app you pushed and will let you know.  Also when i said Dynamic logging is not working, i meant to say logging was working but the changing the logs levels was not having any effect.
Also looks like the SerilogDynamicLoggerCore nuget don't have support to async console logging of serilog. it would be gre

[2020-08-17 19:54] tscrypter opened #413 "Missing Management extension methods for IWebHostBuilder"
## Describe the bug
There are no management extension methods for `IWebHostBuilder` to for adding the endpoints.

## Steps to reproduce
Steps to reproduce the behavior:
1. clone the `https://github.com/SteeltoeOSS/Samples` repository
2. attempt to configure the the HealthCheckActuator.

## Expected behavior
I expected to be able to call `WebHost.CreateDefaultBuilder(args).AddHealthCheckActuator()`

[2020-08-17 20:21] tscrypter commented on #413
With some initial investigation, this goes a bit down a rabbit hole because the `AddCloudFoundryActuators()` and `AddLoggingActuator()` automatically configure the `DynamicConsoleLogger`, which doesn't have extension methods for `IWebHostBuilder`. Given that Web Host only remains available for backwards compatibility ([according to the docs](https://docs.microsoft.com/en-us/aspnet/core/fundamental

[2020-08-17 21:27] ani00763 commented on #113
@hananiel When i change the log levels after deploying my app to cloudfoundry it not working. Attaching my code here. Could you please verify what i'm doing wrong.
[DynamicSeriloggerTestingAPI.zip](https://github.com/SteeltoeOSS/Steeltoe/files/5086875/DynamicSeriloggerTestingAPI.zip)

[2020-08-17 22:04] TimHess commented on #413
I could be wrong, but I think we might have lost some of these in the move to 3.0... I was in this general area anyway and a basic copy/paste went pretty far and IMO seems worthwhile to include. I don't know that I'd want to go further, but feel free to take a look at #414

[2020-08-18 17:11] tscrypter commented on #413
I just pulled in that branch and confirmed it resolves this issue. Since it was pretty straight forward, this will work.

[2020-08-19 13:58] tscrypter commented on #411
Since Identity Server 4 operates as an OpenID Connect and OAuth 2.0 framework, is the intention that the SSO configuration of the Steeltoe app remains similar but Identity Server would replace UAA Server or Pivotal Single Sign-on service?

[2020-08-20 12:43] jkonicki opened #418 "Handle passthrough of error messages on IIS"
## Problem Summary:
* There was a change to Steeltoe quite some time ago to comply with the Spring spec for returning HTTP 503 in cases of HealthStatus.DOWN or HealthStatus.OUT_OF_SERVICE.

* For 500 series errors, however, HWC is configured by default to substitute a canned message for the http response content - so, instead of getting back any failed health checks, the monitor just gets a 503 wi

[2020-08-20 15:08] dtillman commented on #399
Complete

[2020-08-20 15:08] #399 closed

[2020-08-20 15:11] #370 closed

[2020-08-20 15:11] #372 closed

[2020-08-20 15:11] #413 closed

[2020-08-20 15:38] jkonicki commented on #288
Closing Epic - Any other changes will be reflected in next release in #400.

[2020-08-20 15:38] #288 closed

[2020-08-20 15:41] jkonicki commented on #292
Closing this in favor of #29 (completed) and #164 (completed)

[2020-08-20 15:41] #292 closed

[2020-08-20 20:47] #21 closed

[2020-08-24 14:06] ani00763 commented on #113
@hananiel did you get chance to look into the test project i shared? I tried all your suggestions and still not able to make the Dynamic logging work in cloudfoundary.

[2020-08-24 18:35] TimHess opened #420 "Discovery Clients should target netstandard"
Steeltoe.Discovery.Consul, Eureka and Kubernetes all currently target `netcoreapp3.1` but could target `netstandard`

[2020-08-24 18:48] TimHess opened #421 "EFCore and EF6Core Packages should target netstandard"

[2020-08-24 18:52] TimHess commented on #421
This change, which appears possible without any code change, also calls the names of these packages into question as they aren't actually tied to ASP.NET Core in any way

[2020-08-24 18:54] TimHess commented on #421
Also ConnectorCore doesn't have ties to ASP.NET Core either... I think all of these names were from when DependencyInjection was so closely related to ASP.NET Core

[2020-08-25 14:40] TimHess commented on #411
I think the idea here is making sure there's an opinionated way of establishing the connection with Identity Server, ideally creating an interchangeable setup where (similar to other areas of Steeltoe) you can switch your SSO server with just configuration or minimal code change. There _may_ also be some need for a Kubernetes recipe here as well

[2020-08-25 15:59] tscrypter commented on #411
Ok, that makes sense. I can start on identity server for SSO later this evening.

[2020-08-27 03:52] VenkateshSrini opened #422 "User defined services for Mongo DB"
Hi,
I'm using a MongoDB connector in my application. We need to create a user defined service for MongoDB instead of using CF version of mongo DB broker. The ask here is how should I define the user defined service. As per the documentation i see this
[code]
If I were to use cups, how should this be provided. I guess it should be with in VCAP:services etc:-. Can you please provide me with format o

[2020-08-27 10:27] VenkateshSrini opened #423 "Unable to find UseCloudFoundryActutators"
Hi,

I was trying to do a basic configuration for an .NET core app in Cloudfoundry using SteelToe. As per the document it says we need to use UseCloudFoundry Actuators in configure method of StartUp (https://steeltoe.io/docs/3/management/cloud-foundry#enable-http-access). However, I downloaded the entire SteelToe code and searched for this method name in the solution. I did not find this method. I

[2020-08-27 13:52] TimHess commented on #422
Hi @VenkateshSrini,

Most Connectors can read from a Uri property that has been formatted appropriately, please see [this example](https://github.com/SteeltoeOSS/Steeltoe/commit/1271da6586e17bee00e7865a1a66b2616e42effe#diff-cf28c4f817787f97c49a20914cca570d) for MongoDB

[2020-08-27 16:12] #319 closed

[2020-08-28 20:15] TimHess opened #426 "Code Coverage step randomly fails in CI builds"
[This known issue](https://github.com/coverlet-coverage/coverlet/blob/master/Documentation/KnownIssues.md#1-vstest-stops-process-execution-earlydotnet-test) happens intermittently, but sometimes for most builds, all day [like this](https://dev.azure.com/SteeltoeOSS/Steeltoe/_build/results?buildId=3684&view=logs&j=16ffdd8b-53e5-508b-7e4c-edc4792830b9).

Try switching to the [collectors integration]

[2020-09-02 18:16] pnguyen535 opened #427 "services.AddDistributedRedisCache(config) throw exception after updated to Steeltoe latest nuget packages"
Hi,

After updated nuget package, the Redis cache failed to initiate. Am I missing somthing?

Unable to load one or more of the requested types.
Could not load type 'Steeltoe.Common.HealthChecks.IHealthContributor' from assembly 'Steeltoe.Common, Version=3.0.0.0, Culture=neutral, PublicKeyToken=null'.
Could not load type 'Steeltoe.Common.HealthChecks.IHealthContributor' from assembly 'Steeltoe.Com

[2020-09-02 18:29] jkonicki commented on #427
Hello, those interfaces have been moved to the Steeltoe.Common.Abstractions nuget package.

[2020-09-02 18:31] TimHess commented on #427
@pnguyen535 can you share more info about your app? Target framework, other Steeltoe packages (and versions)?

That error shouldn't happen as we should be having direct references in the packages to tie that all together for you

[2020-09-02 19:41] pnguyen535 commented on #427
my project is target .net core 3.1, below is my project references

<Project Sdk="Microsoft.NET.Sdk">

  <PropertyGroup>
    <TargetFramework>netcoreapp3.1</TargetFramework>
  </PropertyGroup>

  <PropertyGroup>
    <CodeAnalysisRuleSet>../AllRulesDefault.ruleset</CodeAnalysisRuleSet>
    <LangVersion>7.2</LangVersion>
  </PropertyGroup>

  <ItemGroup>
    <PackageReference Include="Autofac.Extens

[2020-09-02 19:49] TimHess commented on #427
Was this project upgraded from netcoreapp2.something? There are some references in there that don't look right for a 3.1 app...

Regardless, these are likely the cause of the problem you're seeing:
[code]

Try changing to this:
[code]

[2020-09-02 20:00] pnguyen535 commented on #427
Thanks Tim,

It solved my problem.

[2020-09-04 10:18] TravisBoatman opened #428 "Connectors do not pickup VCAP_SERVICES in PCF"
## Description:
Using the latest connectors package (3.0.0) with PCF will fail to pickup the credentials from VCAP_SERVICES and the configuration will be set to the their defaults. I have confirmed this with RabbitMQ and MySQL connectors.

## Steps to reproduce:
1. Create a new app using Initializr.
2. Steeltoe version 3.0.0, netcoreapp3.1, RabbitMQ dependency.
3. Create a RabbitMQ service in PCF.

[2020-09-04 16:52] pnguyen535 opened #429 "Discovery Service doesn't pick up"
Hi,

Recently, we upgraded Discovery Service to "Spring Cloud Service Registry (3.x)". The environment registry changed from "p-service-registry" to "p.service-registry".

I think that is the reason caused the Discovery Service unable to find services.

Thank you

[2020-09-05 02:24] TravisBoatman commented on #428
@TimHess Thanks Tim, adding the `Steeltoe.Connector.CloudFoundry` package worked. The official documentation should be updated too with instructions to add this for cloud foundry apps.

[2020-09-05 02:24] #428 closed

[2020-09-08 13:02] #427 closed

[2020-09-08 14:53] TimHess commented on #429
Hi @pnguyen535, did you also happen to upgrade to Steeltoe 3.0 recently? This could be a duplicate of #428 if so

The service registry service binding is mapped based on the presence of a tag for Eureka, it shouldn't matter whether it's p-service-registry or p.service-registry.

[2020-09-08 16:30] pnguyen535 commented on #429
Yes, I upgraded to latest steeltoe 3.0. However, PCF also updated the Discovery Service to 3.x which changed the registration key. 
The code below used to work, but now it returns empty:
var discoveredClients = this.discoveryClient.GetInstances(serviceId);
            if (discoveredClients != null && discoveredClients.Any())
            {
                return discoveredClients.FirstOrDefault()?.

[2020-09-08 16:34] TimHess commented on #429
Please try adding a reference to the Cloud Foundry connector package:
`<PackageReference Include="Steeltoe.Connector.CloudFoundry" Version="3.0.0" />`

[2020-09-09 15:43] hananiel commented on #113
@ani00763, I did download and push this to cloud foundry and it works fine for me.  Make sure you are adjusting log levels for the correct namespace. For this sample you posted: search for DynamicSerilogTestingApi and adjust the controller log levels. In my case, I changed it from Trace to Error and then can only see error logs.
![image](https://user-images.githubusercontent.com/887691/92621226-90

[2020-09-09 16:06] ani00763 commented on #113
@hananiel  Thank you very much, I was trying to adjust the log levels for Default that's why it was not working for me. After filtering it on DynamicSeriloggerTestingAPI it started working. Only problem i see now is when i set it to Trace, its not showing the trace log all other levels are working fine.

[2020-09-09 16:21] hananiel commented on #113
@ani00763 yes, I can confirm this sample is having that issue both locally and on cf. let me investigate and get back.

[2020-09-09 16:24] hananiel commented on #113
@tomer-cohen unfortunately Serilog uses the Serilog.ILogger and DynamicLogging is built on Microsoft ILogger. So the only recourse is to copy the HttprequestMiddle ware and replace Log.ForContext<> with Microsoft.ILogger. I don't know how configuration and other things will work together - I haven't done it.

[2020-09-09 16:58] ani00763 commented on #113
@hananiel the debug and trace level works if we add Logging section,
"Logging": {
    "LogLevel": {
      "Default": "Trace",
      "Microsoft": "Warning",
      "Steeltoe": "Warning"
    }
  }

[2020-09-09 17:50] hananiel commented on #113
I was just going to tell you this - glad you figured out. I am going close this issue. Feel free to open a new issue if you have more issues to resolve.

[2020-09-09 17:50] #113 closed

[2020-09-10 13:34] hananiel opened #430 "Prometheus Export doesn't work with Telegraf"
Telegraf looks for 1 help and type per metric name vs one per metric name and label set.

[2020-09-10 20:24] pnguyen535 commented on #429
It's on "3.0.0" package, but still doesn't work.
Thanks    On Tuesday, September 8, 2020, 09:34:59 AM PDT, Tim Hess <notifications@github.com> wrote:

Please try adding a reference to the Cloud Foundry connector package:
<PackageReference Include="Steeltoe.Connector.CloudFoundry" Version="3.0.0" />

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHu

[2020-09-10 20:26] TimHess commented on #429
Can you share all of the Steeltoe references this app has?

[2020-09-10 20:31] pnguyen535 commented on #429
    <PackageReference Include="Steeltoe.Common.Hosting" Version="3.0.0" />
    <PackageReference Include="Steeltoe.Extensions.Configuration.CloudFoundryCore" Version="3.0.0" />
    <PackageReference Include="Steeltoe.Management.CloudFoundryCore" Version="3.0.0" />
    <PackageReference Include="Steeltoe.Security.Authentication.CloudFoundryCore" Version="3.0.0"/>    <PackageReference Include="Steel

[2020-09-10 21:16] Sudhakar85 opened #432 "TraceDiagnosticObserver: Random Null Reference Exception"
## Describe the bug
We are randomly getting object reference exception from TraceDiagnosticObserver

## Steps to reproduce
Not able to reproduce this issue and it's happening randomly

## Expected behavior
Null Check should be added to handle this scenario

## Environment (please complete the following information):
 - Platform: PCF
 - OS: Linux
 - .NET Core 3.1.0,
 - Steeltoe Version 2.4.3

## Ex

[2020-09-11 15:33] iseejustdoit opened #433 "Does steeltoe support grpc?"
I want to register .net core grpc to spring cloud eureka and gateway,and then use gateway calls between microservices.
Does steeltoe support to do it?

[2020-09-11 15:36] hananiel commented on #433
No it doesn't. We would love a PR if you are interested.

[2020-09-11 15:53] TimHess commented on #433
Not directly, not officially.. but since there's an integration with `HttpClientFactory` for Grpc I've heard that it works - we had a conversation on Slack about this a couple weeks ago https://steeltoeteam.slack.com/archives/C0ENXS0M8/p1598621292006000

[2020-09-11 16:34] Hawxy commented on #433
Per the slack link above I tested this a few weeks ago. The current integration works great with grpc as far as I can tell.

With the [client factory](https://docs.microsoft.com/en-us/aspnet/core/grpc/clientfactory), all of the same [Steeltoe HttpClientFactory extensions](https://steeltoe.io/docs/3/discovery/discovering-services#using-httpclientfactory) can be used:

[code]

[2020-09-11 18:03] TimHess commented on #429
Those references look correct, something else must be wrong. I just pushed the Steeltoe Discovery sample to an environment with Spring Cloud Registry 3.x, confirmed that the bindings are using `p.service-discovery` and (after adding a reference to `Steeltoe.Connector.CloudFoundry` it seems to work fine - could you try deploying the Steeltoe Discovery sample to see if it works for you in your envir

[2020-09-11 18:03] #430 closed

[2020-09-11 19:31] pnguyen535 commented on #429
Hi Tim,
Where is the sample project that I can push to my environment?
Thanks    On Friday, September 11, 2020, 11:03:41 AM PDT, Tim Hess <notifications@github.com> wrote:

Those references look correct, something else must be wrong. I just pushed the Steeltoe Discovery sample to an environment with Spring Cloud Registry 3.x, confirmed that the bindings are using p.service-discovery and (after add

[2020-09-11 19:36] TimHess commented on #429
I updated the samples to have the reference now, so all you should have to do is deploy one or both of these

This service should show up in the registry:
https://github.com/SteeltoeOSS/Samples/tree/master/Discovery/src/Fortune-Teller-Service

If you want to discover it from an app, this is the front end for it:
https://github.com/SteeltoeOSS/Samples/tree/master/Discovery/src/Fortune-Teller-UI

[2020-09-11 23:06] pnguyen535 commented on #429
Solved my problem. I need to include the Eureka package
<PackageReference Include="Steeltoe.Discovery.Eureka" Version="3.0.0" />
Thank you    On Friday, September 11, 2020, 12:36:33 PM PDT, Tim Hess <notifications@github.com> wrote:

I updated the samples to have the reference now, so all you should have to do is deploy one or both of these

This service should show up in the registry:
https://git

[2020-09-12 04:30] iseejustdoit commented on #433
I can't access this link.

I registed two services to spring cloud eureka:
1.net core OrderApi,port is 5001,registed service name is OrderService
2.net core ProductApi,port is 5002,registed service name is ProductService

In OrderApi, i can access ProductApi by registed service name without ProductApi ip+port like: _http://productservice/productapi/product/get_.

But I want to access ProductApi by

[2020-09-12 11:48] Hawxy commented on #433
Yes, either globally through the `ClientFactory` as described above (recommended), or standalone by passing in the `DiscoveryHttpClientHandler` manually as [you would with the HttpClient](https://steeltoe.io/docs/3/discovery/discovering-services#discoveryhttpclienthandler):

[code]

[2020-09-12 23:50] iseejustdoit commented on #433
Registered Services:
![Eureka](https://user-images.githubusercontent.com/9328155/93006931-0a4d6d00-f595-11ea-966c-353de8a1aced.png)

`
services.AddGrpcClient<Greeter.GreeterClient>(o =>
{
    // it works
    //o.Address = new Uri("http://localhost:5009");

    //In OrderApi, I want to call ProductApi by registered servie name without product service ip and port
    // it doesn't work.
    o.Addres

[2020-09-13 03:59] vivekkjain commented on #432
Could you please prioritize this?

[2020-09-13 12:29] Hawxy opened #435 "Eureka registration payload is serialized incorrectly"
## Describe the bug
Whilst validating that Eureka does work with gRPC (#433), I came across an issue.

gRPC requires https for HTTP/2 negotiation, so I configured eureka within my service to enable https and disable http:

[code]
This results in a payload that looks like this:
[code]
However, when you inspect Eureka's service metadata, you'll find SecurePort to be false.
[code]

This then goes on

[2020-09-13 13:01] iseejustdoit commented on #433
I created a separate grpc service, it really works!

But i have another question.
Can web api register multiple ports to spring cloud eureka at once?

Here is my appsettings configratioin:
[code]

WebApi Port 5002,Grpc Server Port 5009:
[code]

Is it possible to register two ports at the same time？

[2020-09-14 08:46] antonpopov commented on #15
@TimHess do you plan on implementing this feature anytime soon? My team is using Steeltoe's refresh actuator which works good but soon we are starting a project where microservice instances will self register to a Netflix Eureka discovery server. Would you suggest an approach for refreshing the configuration of multiple instances of a microservice.
Thanks!

[2020-09-14 13:02] TimHess commented on #435
This is probably a relatively new bug, thanks for digging deep enough to get what looks like a pretty good definition of the problem - I probably introduced it when I switched our Eureka code from using Newtonsoft to System.Text.Json... and it's probably [this line]( https://github.com/SteeltoeOSS/Steeltoe/blob/master/src/Discovery/src/Eureka/Transport/JsonInstanceInfo.cs#L108), but I haven't veri

[2020-09-14 14:33] hananiel commented on #432
Not exactly sure why this is happening, but seems similar to https://github.com/dotnet/aspnetcore/issues/3219. Since we don't what other middleware are configured etc, I am adding a try/catch for these to log an error message and move on.

[2020-09-14 15:35] hananiel opened #438 "Update Consul client to use Metadata instead of Tags"
Consul previously did not supports [metadata](https://www.consul.io/docs/discovery/services), but now it does. We use tags instead but can now revert to using metadata. Need to update the client to use meta instead of tags.  Here is our documentation ticket for this: https://github.com/SteeltoeOSS/Documentation/issues/19

[2020-09-14 15:42] hananiel commented on #432
@vivekkjain @Sudhakar85  can you share the project dependencies and even startup / program for this or better a full project that can reproduce this. How random is it. Does it happen only at startup or at other times in the lifecycle of the app.

[2020-09-14 19:29] vivekkjain commented on #432
@hananiel  this is happening frequently and not limited to startup. As this might be due to health check. We have this application vmware tanzu where the instance are randomly crashing and restarting.

[2020-09-14 20:25] Sudhakar85 commented on #432
**Program.cs**
`
public static class Program
{
        public static void Main(string[] args)
        {
            try
            {
                WebHostDefaultBuilder.CreateWebHostBuilder(args)
                    .UseStartup<Startup>()
                    .ConfigureAppConfiguration((context, builder) =>
                    {
                        builder.AddConfigServer(context.HostingEnvi

[2020-09-14 20:51] TimHess commented on #435
We [have](https://github.com/SteeltoeOSS/Steeltoe/blob/master/src/Discovery/test/Eureka.Test/Transport/JsonApplicationTest.cs#L26) [tests](https://github.com/SteeltoeOSS/Steeltoe/blob/master/src/Discovery/test/Eureka.Test/Transport/JsonInstanceInfoTest.cs#L25) [with](https://github.com/SteeltoeOSS/Steeltoe/blob/master/src/Discovery/test/Eureka.Test/Transport/JsonApplicationsRootTest.cs#L31) mocked

[2020-09-14 20:58] TimHess commented on #433
I don't think there's a reasonable way to do this directly with Steeltoe right now... Thinking about it, how would you expect it to work?

I'm thinking you'd almost want completely separate service entries in Eureka, otherwise you'd have to do something weird to map which port to use in which context. There is already support for mapping HTTP and HTTPS ports, and it's possible to specify metadata

[2020-09-14 22:32] emgrig commented on #418
Do you want the change in Management -> EndpointBase -> EndpointMiddleware or Management -> EndpointCore ->HealthEndpointMiddleware ?
This is my first time of looking into the project.

[2020-09-15 00:58] Hawxy commented on #435
I did some manual testing against the registration endpoint and as far as I can tell, Eureka will accept both the boolean and string form of `true`. It just doesn't accept `"True"` with a capital `T` that's currently being sent. The converter calls `boolean.ToString()` which outputs with a capital, so I assume removing the converter would fix the issue.

[2020-09-15 14:47] tscrypter commented on #411
The solution I'm starting to go down is as follows:
### Mutual TLS auth
*CloudFoundry config*
[code]
becomes
[code]
The configuration that will be required is a config setting for the `certificate` and `privateKey` used for the authentication. This approach will basically adhere to this process: http://docs.identityserver.io/en/latest/topics/mtls.html.

I'm going to add additional comments talking

[2020-09-15 14:57] tscrypter commented on #411
The solution I'm starting to go down is as follows:
### SSO
*CloudFoundry config*
[code]
becomes
[code]
The additional configuration options that will need to be added will be the details typically provided in the `p-identity auth mySSOService` after it's been configured (clientId, clientSecret, identityServerUri, scopes, etc...).

[2020-09-15 15:42] TimHess commented on #435
Removing the converter broke the tests... adding `.ToLower()` when we write a `bool` seems to fix registration without breaking tests

We should plan to add more tests for this (de)serialization area in #384

[2020-09-16 03:35] cecilphillip opened #441 "JsonException after EurekaHttpClient SendHeartbeatAsync"
## Describe the bug
I have an app using Eureka for discovery. The app registers and discovers services fine. When I turn up the logs to DEBUG on Steeltoe logs I'm getting a ton of JsonExceptions whenever the eureka client calls SendHeartbeatAsync in the background. It's not affecting the app but it is slightly annoying. Is there anything I can do to stop that (other than stop reading the debug log

[2020-09-16 11:51] TimHess commented on #441
Thanks for logging the issue @cecilphillip - this is fixed in #434, here: https://github.com/SteeltoeOSS/Steeltoe/pull/434/files#diff-e4612c6eca67ad1c6fa0a7602b9f3873R212

For what it's worth, the response body from Eureka is empty where Steeltoe was expecting something. The log entry is made within a catch block and that response object does not appear to have been used for anything significant,

[2020-09-16 16:13] jkonicki opened #442 "Consul handling of registration of port and host"
Allow auto-registration of host and port for Consul with ASP.NET Core configured urls.

Should be a faillback scenario is any configuration is specified.

See Eureka changes #434

[2020-09-16 16:14] jkonicki opened #443 "Backport Eureka port and host fixes from #434"
Backport port and host handling for Eureka.

[2020-09-17 14:48] hananiel commented on #432
@Sudhakar85 this Startup.cs doesn't look right to me. Any UseCloudFoundryActuators must be preceded by AddCloudFoundryActuators.  Can you checkin a complete project somewhere or attach a zip file?

[2020-09-17 20:22] hananiel commented on #441
I don't think span context messages are related either.

[2020-09-17 20:35] hananiel opened #444 "Steeltoe (Wavefront) Observability support"
Currently metrics integration with Steeltoe uses Telegraf which can be configured to receive prometheus format metrics and translated to a wavefront format which wavefront proxy can then relay. This induces too much delay from events to observation - There is batching of metrics with prometheus and then again at telegraf and once again at wavefront proxy. The ideal solution would use a WavefrontRe

[2020-09-18 14:00] Sudhakar85 commented on #432
@hananiel , sorry i can't share entire code, yes i do have AddCloudFoundryActuators but not AddDistrubutedTracing.

[2020-09-18 14:05] Sudhakar85 commented on #432
@hananiel , as highlighted below, i can see the TraceDiagnosticObserver is registered inside AddCloudFoundryActuators

![image](https://user-images.githubusercontent.com/11510071/93606632-eff90200-f98d-11ea-8818-6b17b2e70b64.png)

[2020-09-18 14:08] hananiel commented on #432
@Sudhakar85 Ok makes sense. Can you do me a favor and run this sample: https://github.com/SteeltoeOSS/Samples/tree/2.x/Management/src/AspDotNetCore/Tracing and see if you are getting the same error?
If you want you can comment out the addDistributedTracing ( which is only needed if you want traces exported to Zipkin).

[2020-09-18 14:16] hananiel commented on #432
@Sudhakar85  can you come on steeltoe slack and we can walk through this? steeltoeteam.slack.com

[2020-09-21 02:34] #441 closed

[2020-09-22 04:43] VenkateshSrini commented on #422
Hi,
This did not work for me, my VCAP services part is as below
`{
   "vcap:services:{
       "user-provided":[
         {
          "label": "user-provided",
          "instance_name":"service1"
          "name": "servcie1"
         "binding": null,
         "credentials":{
                 "bucketname":"aa"
                 "password":"bb"
              }
         },
        {
          "label":

[2020-09-22 12:35] TimHess commented on #422
Steeltoe usually identifies the type of service by label, tag, or scheme. In this case, the scheme `mongodb://` in the uri is all you need for Steeltoe to select the binding, but if there's no connection info inside that Uri then it won't work.

Please see [the test binding](https://github.com/SteeltoeOSS/Steeltoe/blob/master/src/Connectors/test/ConnectorCore.Test/MongoDbTestHelpers.cs#L12) and co

[2020-09-22 15:27] VenkateshSrini commented on #422
@TimHess ,
I tested in XUnit test it is working. When providing in appSettings.json for loacl development. Should I add vcap:services or not ?

[2020-09-22 16:37] VenkateshSrini commented on #422
@TimHess,

The code that is not woking is attached here with. Coul you please help me on this regard
[SampleWebApi.zip](https://github.com/SteeltoeOSS/Steeltoe/files/5262851/SampleWebApi.zip)

[2020-09-22 19:16] TimHess commented on #422
For local development, since host and port appear to be defaults, you should be able to use this:
[code]

If you want to use the `vcap:services` so that you're more closely matching what the app will see when it is deployed, you'd need to be sure to add a reference to `Steeltoe.Connector.CloudFoundry` and set some value in an environment variable named `VCAP_APPLICATION`... Which might be more of

[2020-09-23 02:38] VenkateshSrini commented on #422
if I remove vCap then.This has lead to another problem in which I'm unable to get the CloudFoundryServiceOptions.GetServiceList() method is returning Count as Zero as a result we are unable to access other services

[2020-09-23 02:47] VenkateshSrini commented on #422
There is also another problem here. I was thought of combining the approach 1 for approach 3. where I will keep the mongod outside the vcap services while the the other service as vcap. But that again did not work. I get an error cannot create mongodbclient

[2020-09-23 13:03] TimHess commented on #422
`MongoDb:Client:Database` should be only the database name (KnowledgeDB), not the full connection string.

Oh, that's how you're using `ConfigureCloudFoundryOptions`... Yeah, Connectors aren't currently built on (or really connected with) those options, so they're effectively two different ways to access the same configuration. For that method of access you would need to keep `vcap` in the config

[2020-09-23 13:05] TimHess commented on #422
For quicker turnaround on checking your settings, you can use this code to get at what Steeltoe is determining the connection string to be

[code]

[2020-09-23 16:36] VenkateshSrinivasan commented on #422
`MongoDb:Client:Database` >  how will we give connection string of we were to give only database name. I need to give other aspect also. The point is full connection string if we remove the VCAP. This gets into trouble when VCAP services is given. I think In connector code where it says HasCloudFoundry flag is set when VCAP is given. Hence Mongo Db connector starts looking for instance in user pro

[2020-09-23 16:41] VenkateshSrini commented on #422
MongoDb:Client:Database > how will we give connection string if we were to give only database name. I need to give other aspect also. The point is full connection string works if we remove the VCAP:service section itself from appSettings.json. This gets into trouble when VCAP:services is given. I think In connector code where it says HasCloudFoundry flag is set when VCAP is given. Hence Mongo Db c

[2020-09-23 16:58] TimHess commented on #422
Steeltoe builds connection strings by calling `ToString()` on the ConnectorOptions class. See [MongoDbConnectorOptions](https://github.com/SteeltoeOSS/Steeltoe/blob/master/src/Connectors/src/ConnectorBase/MongoDb/MongoDbConnectorOptions.cs#L54) ~ you'll notice default values for server and port that match what's expected for running locally, so all that should be needed is the db name.

We already

[2020-09-23 19:30] TimHess commented on #411
@tscrypter have you made much progress or found anything interesting here?

I don't want to derail any progress you may have made, but I was talking with @macsux about this issue and since Identity Server's purpose really boils down to "easily customized Identity Provider that's standards compliant", a valuable solution here might need to be based on a non-trivial ID Server template since MSFT's l

[2020-09-23 21:23] tscrypter commented on #411
@TimHess I'm not far down an implementation, am more than happy to pivot. Most of my progress has been on trying to identify options for the end user to swap identity providers with minimal code changes. The scenarios I mention in the comments above are the simpler cases (mostly looking at the security samples and making sure to have parody), and thinking through them did allow me to realize that

[2020-09-24 15:59] #426 closed

[2020-09-24 15:59] #422 closed

[2020-09-24 15:59] #421 closed

[2020-09-24 15:59] #435 closed

[2020-09-24 16:00] #429 closed

[2020-09-24 19:54] TimHess opened #447 "Config Server Should be more flexible with reading service bindings"
See if Config Server client can use Connectors logic (like find by label or tag, etc) to avoid adding any more keys to the list to search like in #446

[2020-09-24 19:58] TimHess commented on #447
Maybe this could use the [`ConnectionStringConfigurationProvider`](https://github.com/SteeltoeOSS/Steeltoe/blob/master/src/Connectors/src/ConnectorBase/ConnectionStringConfigurationProvider.cs) with additional service info for locating config server bindings?

[2020-09-24 20:01] TimHess commented on #411
@tscrypter I chatted with @macsux about this today and got a little more in depth with the above... At this point I think this conversation is better suited for our Kubernetes incubator project and have started [logging some issues](https://github.com/steeltoeoss-incubator/kubernetes/projects/1) over there.

If we all agree this idea is best suited for that initiative then I think we can just clos

[2020-09-25 00:23] hananiel commented on #432
@Sudhakar85 After looking into this further, https://github.com/dotnet/aspnetcore/issues/11069  is another example of this sort of issue. The main thing seems to be multiple threads accessing the httpContext. The pattern we are using with DiagnosticListener in Steeltoe is a well-documented and widely used pattern and I don't see any other issues with the code. So I am suspecting some other element

[2020-09-25 00:23] #432 closed

[2020-09-25 14:17] TimHess commented on #410
A possible candidate would be a compatible port of [PetClinic](https://github.com/spring-projects/spring-petclinic)

[2020-09-28 10:53] pengweiqhca opened #451 "ILoadBalancer does not support this case when the service instance's hostname is not equal to ip"
## Is your feature request related to a problem? Please describe.
When some service instance use special hostname rather than ip.
[code]

## Describe the solution you'd like
IServiceInstance.Uri should return scheme://ip:port/
[code]

## Describe alternatives you've considered
The hostname resolution result may be different with the ip, so the specified service instance cannot be accessed

## Addi

[2020-09-28 15:04] #443 closed

[2020-09-28 15:05] #442 closed

[2020-09-29 20:29] TimHess commented on #418
503 return status should also be overridable for other things like cf security response

[2020-09-30 15:34] TimHess opened #456 "Kubernetes:Discovery:Enabled not wired up"
The [enabled](https://github.com/SteeltoeOSS/Steeltoe/blob/master/src/Discovery/src/Kubernetes/Discovery/KubernetesDiscoveryOptions.cs#L16) property should be able to turn api interaction on and off, but it does not currently appear to be in use